<div class="containerAll">
    <app-header-admin></app-header-admin>
    <div class="contains-body">
        <div class="titleAndButton">
            <h1 class="title">Encode Admin</h1>
        </div>

        <mat-card class="results-card">
            <mat-card-content>

                <h1 class="mat-display-1">Resultados de: {{ userData.name }}</h1>

                <table>
                    <tr>
                        <td>Email</td>
                        <td>{{ userData.email }}</td>
                    </tr>
                    <tr>
                        <td>Link</td>
                        <td>{{ userData.uid | encodeLink }}</td>
                    </tr>
                    <tr>
                        <td>Fecha de creacion</td>
                        <td>{{ userData.creationDate.toMillis() | date:'d/M/yyyy, h:mm a' }}</td>
                    </tr>
                </table>

                <mat-tab-group>
                    <mat-tab label="Información Personal"> Información Personal </mat-tab>
                    <mat-tab label="Respuestas"> Respuestas </mat-tab>
                    <mat-tab label="Formularios"> Formularios </mat-tab>
                    <mat-tab label="Audios"> Audios </mat-tab>
                </mat-tab-group>

            </mat-card-content>
        </mat-card>

    </div>
</div>
