#image {
    position: relative;
    width: 100%;
    height: 100%;
}

#image > img {
    width: 100%;
    height: 100%;
}

#image:not(.selected):hover > #image__overlay, 
#image:not(.selected):hover > #buttons,
#image:not(.selected):hover #button--add-to-timeline,
#image:not(.selected):hover #button--open-in-full {
    visibility: visible;
}

#image.selected > #image__overlay,
#image.selected > #buttons,
#image.selected #button--add-check {
    visibility: visible;
} 

#image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: gainsboro;
    opacity: 0.6;
}

#buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    visibility: hidden;
}

#button--add-to-timeline {
    transform: scale(1.6);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    visibility: hidden;
}

#button--add-check {
    transform: scale(1.6);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    visibility: hidden;
}

#button--open-in-full {
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    justify-self: center;
    align-self: center;
    visibility: hidden;
}

#button--add-to-timeline:hover,
#button--open-in-full:hover {
    cursor: pointer;
}
