<mat-toolbar>
    <mat-toolbar-row class="nav_logo">
        <img src="/assets/images/logo_nav.png" alt="" routerLink="/select-test" routerLinkActive="active">
    </mat-toolbar-row>
    <mat-toolbar-row>
        <hr class="line">
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
        <nav class="nav">
            <a routerLink="/instructions-creativity" routerLinkActive="active"
                mat-button>CREATIVIDAD</a>
            <a routerLink="/**" routerLinkActive="active"
                mat-button>INHIBICIÓN</a>
            <a routerLink="/**" routerLinkActive="active"
                mat-button>MEMORIA</a>
            <a routerLink="/**" routerLinkActive="active"
                mat-button>PLANEAMIENTO</a>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>


