.nav_logo {
    padding: 55px 50px 25px 50px;
}
.nav_logo:link {
    border: none;
}
img.logo {
    width: 12%;
}
.navbar {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    height: auto;
}
mat-toolbar.container-header {
    background-color: #eeeeee;
    width: 100%;
    height: 115px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
}
img:focus { outline: none; }

mat-toolbar {
    padding: 0px 0px !important;
}

hr.line {
    margin: 0PX;
    border: 1px solid #FFCF02;
}

nav > a {
    padding: 5px 30px 3px 30px;
    text-decoration: none;
    font-weight: 600;
    color: rgba($color: #4a4067, $alpha: 1.0)
}
nav > a.active {  
    border-bottom: 3px solid  #4a4067;  
}

.logo:focus { 
    outline: none;    
}
.logo:hover {
    cursor: pointer;
} 

@media screen and (max-width: 1440px) {

    mat-toolbar.container-header {
       height: 100px;
    }
 
    .nav_logo { 
       padding: 50px 50px 25px 50px; 
    }
    
    img.logo {
        width: 170px;
        height: 85px;
     } 
}

@media screen and(max-width: 425px) {
    .nav_logo { 
        display: flex;
        justify-content: center;
        width: inherit;
     }

}