<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="consigna">

            <mat-card>
                    
                <h1 class="title"> {{ consigna }} </h1>  
                
                <a mat-raised-button 
                    class="save-form-btn" 
                    routerLink="{{ ruta }}"
                    routerLinkActive="active">
                    Comenzar
                </a>
                
            </mat-card>
          
        </div>
</section>
