<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="google-forms">

            <mat-card>
                    
                <form [formGroup]="userForms">

                    <mat-horizontal-stepper formArrayName="googleForms" linear #stepper>

                        <mat-step *ngFor="let form of googleForms.controls; let i = index"
                            [stepControl]="googleForms.get([i])"
                            editable="false">

                            <ng-template matStepLabel>Formulario {{i + 1}}</ng-template>
                            
                            <iframe [src]="form.value.preFilledURL | byPassSecurity" width="960" height="740" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                        </mat-step>

                        <mat-step editable="false">

                            <ng-template matStepLabel>Hecho</ng-template>
                            <p>Terminaste</p>
                            <div>
                                <a mat-raised-button
                            class="btn"
                            routerLink="../video"
                            routerLinkActive="active">
                            Comprobar
                        </a>
                            </div>
                            
                        </mat-step>

                    </mat-horizontal-stepper>

                </form>
                
            </mat-card>
          
        </div>
</section>
