<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="end-message">
            <h1 class="mat-display-1">¡Muchas gracias por participar {{ userName }}!</h1>

            <mat-card class="end-card">

                <mat-card-content class="end-card-content">

                    <div class="list-and-button">

                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon
                                    color="accent">done</mat-icon>
                                <div class="mat-list-text">
                                    Tenés que volver a conectarte dentro de 7 días.
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon
                                    color="accent">done</mat-icon>
                                <div class="mat-list-text">
                                    Ese día te va a llegar automáticamente un mail con el link donde tenes que entrar. <br/>
                                </div>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon mat-list-icon
                                color="accent">done</mat-icon>
                                <div class="mat-list-text">
                                    Hasta ese entonces, te vamos a pedir que por favor no comentes con nadie lo que hiciste hoy.
                                </div>
                            </mat-list-item>
                            
                        </mat-list>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </section>
</section>
