<h1 class="mat-dialog-title">Permite que Investigar utilice tu micrófono</h1>
<div class="mat-dialog-content">
    <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon
                color="accent">lens</mat-icon>
            <p>Investigar necesita acceder a tu micrófono para que grabes audios en nuestros tests.</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon
                color="accent">lens</mat-icon>
            <p>Tendrás que confirmar esta decisión en tu navegador.</p>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions>
    <button mat-button
        (click)="onClose(true)"
        cdkFocusInitial>
        Entendido
    </button>
</div>
