.mat-list-item p {
    margin-left: 16px;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

button {
    background-color: #4a4067;
    color: white;
}

button:hover {
    background-color: #4a4067cc;
}

.mat-list .mat-list-icon {
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.5rem;
}
