<section class="container-all">
    <article class="container-logoAndText">
        <div class="logo-container">
            <img class="logo-home" src="assets/images/logo_home.png" alt="">
            <div>
                <h2 class="text-home">Plataforma Interactiva de Investigación<br>en tiempos de cuarentena</h2>  
                <button mat-raised-button class="buttonHome" routerLink="/select-test" routerLinkActive="active">INGRESAR</button>
            </div>
        </div>
    </article>
    <article>
        <figure class="container-logos">
            <img class="logos-inst" src="assets/images/logoConicet-small.png" alt="logo CONICET">
            <img class="logos-inst" src="assets/images/Logo-UNICEN-small.png" alt="Logo UNICEN">
            <img class="logo-itba" src="assets/images/Marca-ITBA-Color-small.png" alt="logo Instituto Tecnológico de Buenos Aires">
            <img class="logo-lab" src="assets/images/pladema_media_lab-small.png" alt="logo Pladema y MediaLab">
        </figure>
    </article>
</section>

<router-outlet></router-outlet>
