// DESKTOP
// 1600 x 900
// 1440 x 900
// 1366 x 768
// 1024 x 600
    .container-all {
        background: #4a4067 !important;
        height: 100%;
        min-height: 935px;
    }
    .container-logos-mobile {
        display: none;
    }
    .container-logoAndText {
        padding: 180px 0px;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 200px 0px 150px;
    }
    .logo-home {
        width: 50%;

    }
    .text-home {
        color: white;
        font-weight: lighter;
    }

    .button-home {
        font-size: larger;
        padding: 10px 80px;
        font-weight: 600;
        color: #E33B88;
    }
    .button-home:hover {
        background-color: #ffffffcc;
        -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
        -moz-box-shadow: inset 0 0 0 2px #ffcf02;
        box-shadow: inset 0px 0px 0px 2px #ffcf02;
    }
    div.container-moreInfo {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    button.moreInfo {
        margin-top: 26px;
        background-color: #4a4067;
        color:  #ffcf02;
        font-weight: 400;
        padding: 10px 58px;
    }
    button.moreInfo:hover {
        color: #ffffff;
        background-color: #41375d;
        -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
        -moz-box-shadow: inset 0 0 0 2px #ffcf02;
        box-shadow: inset 0px 0px 0px 2px #ffcf02;
    }
   
    .container-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 200px 0px 200px;
        margin: 0px;
    }

    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
 
    img.logo-conicet, img.logo-unicen,  img.logo-pladema, img.logo-tuxdi {      
        height: 100%;
        margin: 0px 10px 0px 10px;

    }
    img.logo-itba {
        height: 100%;
        margin: 20px 10px 0px 10px; 
    }
    .logo-itba:focus, 
    .logo-conicet:focus, 
    .logo-unicen:focus, 
    .logo-pladema:focus,
    .logo-tuxdi:focus { 
        outline: none;    
    }
    
   .logo-itba:hover, 
   .logo-conicet:hover,
   .logo-unicen:hover,
   .logo-pladema:hover, 
   .logo-tuxdi:hover {
        cursor:pointer;
        opacity: 50%;
    }
    .text-home {
        font-size: 20px;
    }

@media screen and (max-width: 1600px) {
 
    .logo-container {  
        padding: 80px 200px 0px 150px;
    }
    .container-logos {     
        padding: 0px 170px 0px 170px;
    }

    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 130px;
    }
    .logo-home {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 1440px) {
    .container-all {
        min-height: 624px;
    } 
    .container-logoAndText {
        padding: 110px 0px;
    }
    .logo-home {
        width: 55%;
        height: 55%;
    }
    .text-home {
        font-size: 20px;
    }
    
    .logo-container {    
        padding: 0px 150px;
    }
    .button-home {    
        font-size: large;
        padding: 8px 70px;
    }
    button.moreInfo {        
        padding: 8px 46px;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 100px;          
    }
    
    
}


@media screen and (max-width: 1024px) {
    .container-all {
        min-height: 620px;
    }
    
    .text-home {
        font-size: 16px;
    }

    .logo-container {
        padding: 0px 100px 0px 70px;
    }
  
    
    .button-home {    
        padding: 5px 60px;
    }
    button.moreInfo {        
        padding: 5px 36px;
    }
    .container-logos {
        padding: 0px 100px 0px 100px;
    
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        padding: 0px;     
    }    
        
    img.logo-conicet, img.logo-unicen,  img.logo-pladema, img.logo-tuxdi {      
        height: 95%;
        margin: 0px 0px 0px 0px;
    }

    img.logo-itba {
        height: 95%;
        margin: 20px 0px 0px 0px; 
    }
 

}

@media screen and (max-width: 768px) {
    .text-home {
        font-size: 14px;
        margin-top: 0px;
    }
    .container-logoAndText {
        padding: 150px 0px;
    }    
    .container-button-description {
        margin-left: 50px;
        margin-top: 20px;
  
    }
    .logo-container {
        padding: 0px 70px 0px 50px;
    }
    .button-home {    
        padding: 4px 60px;
    }
    button.moreInfo {        
        padding: 4px 36px;
    }

    .container-logos {
        padding: 0px 80px;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 75px;          
    }


}

@media screen and (max-width: 650px) {
    
    .logo-container {
        flex-direction: column;
        margin: auto;
    }
    .container-logoAndText {
        padding: 50px 0px;
    }
    .logo-container {
        width: 76%;
        height: 76%;
        text-align: center;
    }
    .container-button-description {
        margin-left: 0px;
    }
    img.logo-home {
        width: 100%;
        height: 100%;
    }
    .text-home {
        margin-top: 40px;
        font-size: 1rem;
    }
    .button-home {
        font-size: large;
        margin-top: 20px;
        padding: 10px 90px;
    }
    button.moreInfo {        
        padding: 10px 66px;
    }
    .container-logos {
        display: none;
    }
    .container-logos-mobile {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 100px;          
    }

}

@media screen and (max-width: 425px) {
    .container-all {
        min-height: 800px;
        width: auto;
    }
    .container-button-description {
        margin-top: 40px;
    }
    .text-home {
        margin-top: 0px;
    }
    img.logo-itba { 
        margin: 0px 10px 0px 10px; 
    }
    .logo-container {
        padding: 0px 50px 0px 50px;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 90px;          
    }
    .container-logos-mobile {
        padding: 0px 50px;
    }
    div.container-moreInfo {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {
    .container-all {
        height: 812px;
        width: 375px;
    }
    .container-all {
        min-height: 550px;
    } 
    .logo-container {
        padding: 0px;
        margin: auto;
    }
    .logo-home {
        width: 100%;
        height: 100%;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 80px;          
    }
    .container-logos-mobile {
        padding: 0px 30px;
    }
   
}

@media screen and (max-width: 320px) {
    .container-all {
        height: auto;
        width: 320px;
    }
    .container-logoAndText {
        padding: 30px 0px;
    }
    .text-home {
        font-size: 0.9rem;
    }
    h2.text-home {
        margin-bottom: 0px;
    }
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 68px;          
    }
    
}
