.container-all {
    background: #4a4067 !important;
    height: 100%;
}

.container-logoAndText {
    padding-top: 100px;
}

.container-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 350px 0px 150px;
    margin-bottom: 150px;
}
.textHome {
    color: white;
    font-weight: lighter;
}

.buttonHome {
    font-size: larger;
    padding: 10px 80px;
    font-weight: 600;
    color: #E33B88;
}