// DESKTOP
// 1600 x 900
// 1440 x 900
// 1366 x 768
// 1024 x 600
    .container-all {
        background: #4a4067 !important;
        width: 100%;
        height: 100%;
    }

    .container-logoAndText {
        padding-top: 120px;
    }

    .container-logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 150px 0px 150px;
        margin: 0px;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 200px 0px 150px;
        margin-bottom: 180px;
    }
    .text-home {
        color: white;
        font-weight: lighter;
    }

    .button-home {
        font-size: larger;
        padding: 10px 80px;
        font-weight: 600;
        color: #E33B88;
    }
    .button-home:hover {
        background-color: #ffffffcc;
        -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
        -moz-box-shadow: inset 0 0 0 2px #ffcf02;
        box-shadow: inset 0px 0px 0px 2px #ffcf02;
    }
    .container-logos-mobile {
        display: none;
    }


@media screen and (max-width: 1600px) {
    
    .logo-home {
        width: 50%;
        height: 50%;
    }
    .logo-container {  
        padding: 80px 200px 0px 150px;
    }
    .logo-conicet, .logo-itba, .logo-unicen, .logo-tuxdi {
        width: 12%;
        height: 12%;
    }
    .logo-pladema {
        width: 30%;
        height: 30%;
    }
    .text-home {
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
   
    .logo-home {
        width: 55%;
        height: 55%;
    }
    .text-home {
        font-size: 18px;
    }
    .button-home {    
        font-size: large;
        padding: 8px 70px;
    }

    
}

@media screen and (max-width: 1366px) {
    .container-logoAndText {
        padding-top: 100px;
    }

    .logo-container {    
        padding: 20px 200px 0px 150px;
        margin-bottom: 80px;
    }

}

@media screen and (max-width: 1024px) {

    .text-home {
        font-size: 16px;
    }
    
    .button-home {    
        padding: 8px 60px;
    }
}

// MOBILE

// @media (min-width: 411px) and (max-width: 767px) {

//     .container-all {
//         background: #4a4067 !important;
//         min-width: 100% !important;
//         max-width: 100% !important;
//         min-height: 100%;
//         max-height: 100%;
//         height: 100%;
//     }

//     .container-logoAndText {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding-top: 0px;
//         margin-bottom: 0px;
//     }

//     .container-logos {
//         width: 100%;
//         margin: 0px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 0px;
//         margin-right: 0px;
//     }
//     .logo-home {
//         width: 350px;

//     }
//     .logo-container {
//         width: 100% ;
//         height: auto;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 80px 20px 0px 20px;
//         margin-bottom: 80px;
//         max-width: 320px;
//         min-width: 320px;
//     }
//     .container-button-description {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         max-width: 320px;
//         width: 320px;
//         margin-top: 80px;
//     }
//     .text-home {
//         color: white;
//         font-weight: lighter;
//         font-size: 16px;
//         text-align: center;
//         margin-top: 0px;
//     }

//     .button-home {
//         line-height: 15px;
//         font-size: 10px !important;
//         padding: 8px 35px;
//         font-weight: 600;
//         color: #e33b88;
//         text-align: center ;
//         margin-top: 0px;
//         width: 100%;
//         height: 60px;
//         font-size: 20px !important;
//     }
  
//     .button-home:hover {
//         background-color: #ffffffcc;
//         -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
//         -moz-box-shadow: inset 0 0 0 2px #ffcf02;
//         box-shadow: inset 0px 0px 0px 2px #ffcf02;
//     }
//     .logos-a {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//         margin-top: 40px;
//     }
//     .logos-b {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;     
//     }
//     .logos-inst {
//         margin: 15px 0px;
//         width: 30%;
//         height: 30%;
//     }
//     .logo-itba {
//         width: 30%;
//         height: 30%;
//         margin: 10px 0px;
//     }
//     .logo-lab {
//         width: 90%;
//         height: 90%;
//     }
//     .container-logos {
//         display: none;
//     }

// }
// @media (min-width: 360px) and (max-width: 410px) {

//     .container-all {
//         background: #4a4067 !important;
//         min-width: 100% !important;
//         max-width: 100% !important;
//         min-height: 100%;
//         max-height: 100%;
//     }

//     .container-logoAndText {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding-top: 0px;
//         margin-bottom: 0px;
//     }

//     .container-logos {
//         width: 100%;
//         margin: 0px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 0px;
//         margin-right: 0px;
//     }
//     .logo-home {
//         width: 100%;
//     }
//     .logo-container {
//         width: 100% ;
//         height: auto;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 50px 20px 0px 20px;
//         margin-bottom: 30px;
//         max-width: 320px;
//         min-width: 320px;
//     }
//     .container-button-description {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         max-width: 320px;
//         width: 320px;
//         margin-top: 44px;
//     }
//     .text-home {
//         color: white;
//         font-weight: lighter;
//         font-size: 16px;
//         text-align: center;
//         margin-top: 0px;
//     }

//     .button-home {
//         line-height: 15px;
//         font-size: 10px !important;
//         padding: 8px 35px;
//         font-weight: 600;
//         color: #e33b88;
//         text-align: center ;
//         margin-top: 0px;
//         width: 100%;
//         height: 60px;
//         font-size: 20px !important;
//     }
  
//     .button-home:hover {
//         background-color: #ffffffcc;
//         -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
//         -moz-box-shadow: inset 0 0 0 2px #ffcf02;
//         box-shadow: inset 0px 0px 0px 2px #ffcf02;
//     }
//     .logos-a {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-b {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-inst {
//         margin: 15px 0px;
//         width: 25%;
//         height: 25%;
//     }
//     .logo-itba {
//         width: 27%;
//         height: 27%;
//         margin: 10px 0px;
//     }
//     .logo-lab {
//         width: 80%;
//         height: 80%;
//     }
//     .container-logos {
//         display: none;
//     }

// }
// @media (min-width: 320px) and (max-width: 359px) {
//     .container-all {
//         background: #4a4067 !important;
//         min-width: 100% !important;
//         max-width: 100% !important;
//         min-height: 100%;
//         max-height: 100%;
//     }

//     .container-logoAndText {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding-top: 0px;
//         margin-bottom: 0px;
//     }

//     .container-logos {
//         width: 100%;
//         margin: 0px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 0px;
//         margin-right: 0px;
//     }
//     .logo-home {
//         width: 100%;
//     }
//     .logo-container {
//         width: 100% ;
//         height: auto;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 30px 0px 0px 0px;
//         margin-bottom: 30px;
//         max-width: 320px;
//         min-width: 320px;
//     }
//     .container-button-description {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         max-width: 320px;
//         width: 320px;
//         margin-top: 30px;
//     }
//     .text-home {
//         color: white;
//         font-weight: lighter;
//         font-size: 16px;
//         text-align: center;
//         margin-top: 0px;
//     }

//     .button-home {
//         line-height: 15px;
//         font-size: 10px !important;
//         padding: 8px 35px;
//         font-weight: 600;
//         color: #e33b88;
//         text-align: center ;
//         margin-top: 0px;
//         width: 90%;
//         height: 60px;
//         font-size: 20px !important;
//     }
  
//     .button-home:hover {
//         background-color: #ffffffcc;
//         -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
//         -moz-box-shadow: inset 0 0 0 2px #ffcf02;
//         box-shadow: inset 0px 0px 0px 2px #ffcf02;
//     }
//     .logos-a {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-b {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-inst {
//         margin: 5px 0px;
//         width: 30%;
//         height: 30%;
//     }
//     .logo-itba {
//         width: 32%;
//         height: 32%;
//         margin: 10px 0px;
//     }
//     .logo-lab {
//         width: 90%;
//         height: 90%;
//     }
//     .container-logos {
//         display: none;
//     }

// }
// @media (min-width: 280px) and (max-width: 319px) {
//     .container-all {
//         background: #4a4067 !important;
//         min-width: 100% !important;
//         max-width: 100% !important;
//         min-height: 100%;
//         max-height: 100%;
//     }

//     .container-logoAndText {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding-top: 0px;
//         margin-bottom: 0px;
//     }

//     .container-logos {
//         width: 100%;
//         margin: 0px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 0px;
//         margin-right: 0px;
//     }
//     .logo-home {
//         width: 100%;
//     }
//     .logo-container {
//         width: 100% ;
//         height: auto;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         padding: 50px 0px 0px 0px;
//         margin-bottom: 30px;
//         max-width: 280px;
//         min-width: 280px;
//     }
//     .container-button-description {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         max-width: 280px;
//         width: 280px;
//         margin-top: 44px;
//     }
//     .text-home {
//         color: white;
//         font-weight: lighter;
//         font-size: 14px;
//         text-align: center;
//         margin-top: 0px;
//     }

//     .button-home {
//         line-height: 15px;
//         font-size: 10px !important;
//         padding: 8px 35px;
//         font-weight: 600;
//         color: #e33b88;
//         text-align: center ;
//         margin-top: 0px;
//         width: 90%;
//         height: 60px;
//         font-size: 20px !important;
//     }
  
//     .button-home:hover {
//         background-color: #ffffffcc;
//         -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
//         -moz-box-shadow: inset 0 0 0 2px #ffcf02;
//         box-shadow: inset 0px 0px 0px 2px #ffcf02;
//     }
//     .logos-a {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-b {
//         display:flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-direction: row;
//     }
//     .logos-inst {
//         margin: 5px 0px;
//         width: 35%;
//         height: 35%;
//     }
//     .logo-itba {
//         width: 37%;
//         height: 37%;
//         margin: 30px 0px;
//     }
//     .logo-lab {
//         width: 100%;
//         height: 100%;
//     }
//     .container-logos {
//         display: none;
//     }

// }


