.consent
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 46rem;
    row-gap: 6px;
    font-size: 18px;
}

.consent p
{
    line-height: 27px;
}

.consent h4
{
    margin-bottom: 0px;
}

.save-form-btn
{
    margin-top: 10px;
    max-width: 350px;
}