<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="consent">
            <h1 class="title">Estudio sobre la formación de memorias episódicas y su relación con estados de ánimo y personalidad.</h1>
            
            <h3><span>-Investigadora responsable: Dra. Forcato Cecilia (Conicet-ITBA)</span></h3>

            <h4>Objetivo de la investigación</h4>
            <p>
                Nuestro objetivo es comprender la forma en que la memoria declarativa se modifica durante el sueño
                y la vigilia dando lugar a la formación de falsas memorias (recuerdos de hechos que nunca ocurrie-
                ron). En particular, entender la manera en la que este proceso ocurre de forma diferencial en adoles-
                centes, adultos jóvenes y mayores teniendo en cuenta distintos factores emocionales (depresión y an-
                siedad) y de personalidad.
            </p>
            
            <h4>Estructura del estudio ONLINE y participación</h4>
            <p>
                El estudio consiste en que completes una serie de tareas dos días con una semana de por medio. El
                primer día es más largo y consiste en completar primero una serie de cuestionarios para luego pasar
                a tareas más interactivas. El primer día lleva aproximadamente 40 minutos. El segundo día (una
                semana después) es más corto y lleva entre 20 a 30 minutos. Consiste, también, en la realización de
                cuestionarios breves y tareas interactivas. Es importante que el estudio lo realices antes de las 17.30
                horas. Ambos días tienen que ser en el mismo horario. Para el día dos te va a llegar un recordatorio
                con una invitación y el horario correspondiente.
            </p>
            
            <h4>Estructura del estudio y participación para la modalidad presencial</h4>
            <p>
                El estudio consta de tres días. El primer día consiste en realizar una siesta de adaptación en el 
                laboratorio de 40 minutos. En la misma se aplicarán los electrodos correspondientes para la realización 
                de una polisomnografía (estudio de sueño). El segundo día consiste en completar primero una serie de 
                cuestionarios y luego realizar tareas de memoria que consisten en ver un video y responder algunas 
                preguntas. Lleva aproximadamente 30 minutos. El tercer día consiste en dormir una siesta de 40 minutos 
                en la cual se realizará una polisomnografía al igual que en el día 1. Luego realizarás tareas de memoria 
                en la computadora. El tercer día lleva aproximadamente 2 horas.
            </p>
        
            <h4>Requisitos para participar</h4>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>lens</mat-icon>
                    <p class="mat-list-text">
                        Ser mayor de 18 años
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>lens</mat-icon>
                    <p class="mat-list-text">
                        No consumir psicofármacos
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>lens</mat-icon>
                    <p class="mat-list-text">
                        No tener desórdenes del ciclo sueño-vigilia
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>lens</mat-icon>
                    <p class="mat-list-text">
                        Si participaste o estás participando en otro de nuestros estudios tenés que saber 
                        que el presente estudio es independiente y por tanto, podés participar también.
                    </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>lens</mat-icon>
                    <p class="mat-list-text">
                        Contar con micrófono (puede ser de la computadora o de los auriculares). EXCLUYENTE.
                    </p>
                </mat-list-item>
            </mat-list>

            <h4>Riesgos o beneficios asociados a la participación</h4>
            <p>
                No existen riesgos por participar de este estudio. Si experimentas algún malestar mientras completas
                la encuesta, te pedimos que te comuniques con nosotros/as. Como una manera de agradecer tu parti-
                cipación en este estudio, vamos a sortear diferentes premios entre quienes completen toda la encues-
                ta. Una vez que finalice la recolección de datos, se va a sortear: 20 giftcards de 1000 c/u para que
                puedas usar en Librerías “Cuspide”.
            </p>

            <h4>Confidencialidad y protección de datos</h4>
            <p>
                Tu participación es voluntaria: podés rehusarte a participar o interrumpir tu participación en cualquier
                momento sin tener que expresar tus razones (en caso de que decidas no seguir participando del estu-
                dio podés hacerlo enviando un email a: mabonilla@itba.edu.ar). Todos los datos que reportes serán
                protegidos bajo la Ley 25.326 de Protección de Datos Personales y se tratarán de forma totalmente
                confidencial. En algún momento te pediremos algunos datos de contacto (email). Esa información se
                utilizará exclusivamente a los fines de este trabajo (para comprobar que una misma persona no com-
                pleta en más de una ocasión los cuestionarios, o para informarte de cómo retirar un premio en caso
                que salgas beneficiado/a). Esos datos no serán compartidos con nadie y se usarán a los fines exclusi-
                vos de esta investigación. Los resultados obtenidos de esta investigación, que serán analizados en 
                forma grupal, serán comunicados en eventos científicos y publicados en revistas científicas. 
                Los datos de este estudio serán almacenados en la computadora del investigador responsable bajo un 
                código de acceso. Los datos de contacto se guardarán en archivos separados a los archivos con las 
                respuestas de los/as participantes.
            </p>

            <div id="interactive-consent">
                <h4>Dar consentimiento</h4>

                <mat-selection-list #list_of_agreement>
                    <mat-list-option checkboxPosition="before">
                        Doy mi consentimiento para realizar la tarea de forma online.
                    </mat-list-option>
                    <mat-list-option checkboxPosition="before">
                        Entiendo que mi participación es voluntaria y
                        cuento con el derecho de retirarme cuando lo desee.
                    </mat-list-option>
                    <mat-list-option checkboxPosition="before">
                        Entiendo y consiento que mis respuestas se registren y
                        almacenen de forma segura en una base de datos.
                    </mat-list-option>
                    <mat-list-option checkboxPosition="before">
                        Entiendo y consiento que mis respuestas pueden usarse
                        de forma anónima para investigaciones secundarias en el futuro.
                    </mat-list-option>
                </mat-selection-list>
    
                <button mat-raised-button class="save-form-btn"
                    disabled="{{list_of_agreement.selectedOptions.selected.length < 4}}"
                    (click)="onConsent()">
                    Confirmar
                </button>
            </div>

            <p>
                Cualquier duda que tengas sobre el consentimiento informado podes corroborarlo comunicandote con el
                Comité de Ética en Investigación Biomédica del IATIMET:
            </p>
            <p>
                Marcelo T. de Alvear 2270- C1122AAJ
            </p>
            <p>
                Tel: 52852751/2/3
            </p>
            <p>
                Por cualquier consulta que tengas podes escribir a: mabonilla@itba.edu.ar, ceforcato@itba.edu.ar
            </p>
        </div>
    </section>
</section>
