<div class="container-all">
    <app-header></app-header>
    <div class="container-title-ejemplo">
        <h3 class="test-name">Actividad seleccionada: CREATIVIDAD</h3>
        <hr class="line-test">
    </div>
    <section class="container">          
        <article class="container-form">
            <app-user-form container-form></app-user-form>
        </article>    
    </section> 
</div>
<router-outlet></router-outlet>

<!-- <input [formControl]="emailField" type="text">
{{ emailField.valid }}, {{ emailField.invalid }} 
<button routerLink="/test-creativity" routerLinkActive="active"
    mat-raised-button class="buttonForm" type="submit"
    *ngIf="emailField.valid" (click)="sendUserData()">ENVIAR</button>
<p *ngIf="emailField.invalid">Ingresá entre 3 y 15 letras</p> -->