.wellcome-message
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wellcome-message>h1
{
    margin: 0;
}

.wellcome-card
{
    max-width: 56rem;
    margin-top: 1rem;
}

.wellcome-card-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.wellcome-card-content>img
{
    max-width: 32rem;
}

.list-and-button
{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.btn
{
    margin-top: 2rem;
}

.warning
{
    color: #fd2727;
}
