<section class="container-all-bio">
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\alejoBarbuzza.jpg" alt="Fabricio Ballarini">
        </div>
        <h2 class="title">Alejo Barbuzza</h2>
        <p class="info">Es licenciado en ciencias biológicas de la Universidad de Buenos Aires (UBA). Actualmente es parte del grupo de investigación liderado por el Dr. Fabricio Ballarini, con el cual realizó su tesis de licenciatura sobre cómo la novedad puede modular la evocación de distintos tipos de memoria y al proceso creativo, dentro de contextos educativos. También es docente en la maestría de neurociencia dictada por la Universidad de Favaloro y realiza talleres de programación y robótica para estudiantes de escuela primaria.</p>
    </article>
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\danielaRamirezButavand.jpg" alt="Fabricio Ballarini">
        </div>
        <h2 class="title">Daniela Ramirez Butavand</h2>
        <p class="info">Es licenciada en ciencias físicas de la Universidad de Buenos Aires (UBA) y actualmente está realizando su último año de doctorado en la facultad de ciencias exactas y naturales de la UBA. Es becaria doctoral de CONICET. Es docente en el Instituto Tecnológico Buenos Aires (ITBA) y en la maestría de neurociencia dictada por la Universidad de Favaloro.</p>
        <p class="info">Su investigación se focaliza en estudiar distintos tipos de moduladores - como la novedad y la actividad física- en distintas fases de la memoria: consolidación y evocación. Realiza experimentos tanto en el laboratorio (con realidad virtual) como dentro del ámbito educativo. Ha presentado su investigación científica en numerosos congresos nacionales e internacionales.
        </p> 
    </article>
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\sebastian_Bellido.jpg" alt="Sebastian Bellido">
        </div>
        <h2 class="title">Sebastián Bellido</h2>
        <p class="info">Diseñador en Comunicación Visual, Diplomado en Diseño de Interfaces y Experiencias Digitales, Docente de Artes Visuales, programador y estudiante de Desarrollo de Aplicaciones Informáticas. Se desenvuelve como freelance en diseño editorial, branding, ilustración, motion graphic, UX | UI y desarrollo Frontend. Sus diseños han sido destacados en concursos de nivel internacional.</p> 
        <p cass="info">Entre 2005 y 2009 se ha desempeñado como docente en Introducción al Lenguaje Visual, Métodos del Diseño, Lenguaje Visual 1 y Lenguaje Visual 3 en Facultad de Arte de la UNLP. Actualmente es Ayudante de Cátedra en la materia Interfaces de Usuario e Interacción en Facultad de Cs. Exactas de la UNICEN. Entre 2009 y 2011 ocupó el cargo de Director de Cultura del Municipio de Benito Juárez.</p> 
    </article>
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\fabricioDefelippe.jpg" alt="Fabricio Ballarini">
        </div>
        <h2 class="title">Fabricio Defelippe</h2>
        <p class="info">Analista de sistemas, diplomado en Experiencia de Usuarios y Diseño Inclusivo, docente, programador, estudiante, dibujante, y recientemente padre.</p> 
        <p cass="info">Durante los últimos ocho años Fabricio ha trabajado en la industria del software en
            empresas como Globant, Media.Lab, Pladema y Tootab, en diferentes proyectos pasando por roles como desarrollador, líder técnico hasta project manager. Actualmente dirige Tuxdi Digital Agency, empresa de software especializada en desarrollo frontend y diseño UX.</p> 
        <p class="info">También se ha desempeñado como docente en la Universidad Nacional del Centro de la Provincia de Buenos Aires en las cátedras Análisis y Diseño de Algoritmos 1, Web 1 y en Interfaces de usuario e Interacción. También, desde el 2018 es docente jefe de trabajos prácticos en la Diplomatura UXDI de la facultad de Cs. Exactas.</p> 
    </article>
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\fabricioBallarini.jpg" alt="Fabricio Ballarini">
        </div>
        <h2 class="title">Fabricio Ballarini</h2>
        <p class="info">Investigador del CONICET, Licenciado en Ciencias Biológicas egresado de
            la Facultad de Ciencias Exactas de la Universidad de Buenos Aires. Doctorado y un Postdoc otorgado por la Facultad de Medicina de la Universidad de Buenos Aires. Investigador en neurociencias. Docente de la Universidad de Barcelona. Docente Invitado de la Universidad de Blanquerna. Director del departamento de Ciencias de la Vida del ITBA.</p>
    </article>
    <article class="container-bio">
        <div class="container-foto-bio">
            <img class="foto-bio" src="\assets\images\cristianGarciaBauza.jpg" alt="Fabricio Ballarini">
        </div>
        <h2 class="title">Cristian García Bauza</h2>
        <p class="info">Es Ingeniero de Sistemas y Doctor en Ciencias de la Computación. Es Investigador CONICET, Investigador Cat II en el Programa de Incentivos y docente en materias relacionadas a computación gráfica y nuevas tecnologías.
            Dirige Media.Lab, un área de I+D del Instituto PLADEMA conformado por un grupo interdisciplinario de más de 25 personas, donde desarrollan simuladores de entrenamiento y aplicaciones relacionadas a Realidad Virtual para capacitación y formación profesional.</p>
        <p class="info"> También dirige líneas de investigación relacionadas a la aplicación transversal de tecnología a áreas diversas como neurociencias, psicología y educación.
            Ha dirigido con éxito más de 20 proyectos de I+D con transferencia al medio donde los principales destinatarios han sido entidades gubernamentales, estatales y privadas (Fuerzas Armadas, INVAP SE, Ministerio de Educación, Ministerio de Trabajo, SBASE, FADEEAC, CNEA, SPU, etc)</p> 
    </article>
</section>
    
