.results-card
{
    max-width: 56rem;
    margin-top: 1rem;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #4a4067;
}

.user-info {
    width: 100%;
    text-align: center;
}

.mat-display-1, .mat-typography .mat-display-1 {
    margin: 0 0 25px;
}


#copyLink {
	background: none;
	border: none;
	padding: 0;
    margin-left: 0.5rem;
	cursor: pointer;
}

.audios-container
{
	width: 300px;
}

.perpetrator-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.perpetrator-radio-button {
    margin: 5px;
}

.save-form-btn
{
    background-color: #76ad2e;
    color: white;
    padding: 0.16rem 0.72rem;
}