.results-card
{
    max-width: 56rem;
    margin-top: 1rem;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #4a4067;
}

.user-info {
    width: 100%;
    text-align: center;
}

.mat-display-1, .mat-typography .mat-display-1 {
    margin: 0 0 25px;
}