.container-all {
    background: #4a4067 !important;
    height: 100%;
}
.nav {
   background-color: #4a4067; 
   padding-top: 0px;
}

.nav_logo { padding: 55px 50px 25px 50px; }

h1.title {
    padding-top: 50px;
    font-weight: 100; font-size: 2em; 
    margin-top: 75px;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: 100%;
}
.buttonHome {
    font-size: larger;
    padding: 10px 80px;
    font-weight: 600;
    color: #4A4067;
}
.image-calendar {
    margin-bottom: 100px;
}