<div class="container-all">
    <app-header-dark></app-header-dark>
    <section class="container">
        <div class="contain-title">
            <h1 class="title">Disculpas, la actividad<br>aún no está disponible.</h1>
        </div>
        <div class="container-icon">
            <img class="image-calendar" src="assets/images/en-construccion.png" alt="">
            <h1 class="text">EN CONSTRUCCIÓN</h1>
        </div>
        <button mat-raised-button class="button-back" routerLink="/select-test" routerLinkActive="active">VOLVER</button>
    </section>
</div>