.container-all {
    background: #F9F9F9 !important;
    height: 100%;
}

.line-test {
    margin-left: 70px;
    color: #4a4067;
    width: 20%;
}
.container-test-name {
    background-color: #f9f9f9;
    padding: 0px;
}
.test-name {
    margin-left: 70px;
    color: #4a4067;
}

.container-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.users-table {
    width: 50%;
}