<div class="container-all">
    <app-header-dark></app-header-dark>
    <section class="row moreInfo">
        <div class="col">
            
        </div>
                <div class="col">
                    <h1 class="title">Investigar</h1>
                    <hr class="title-line">
                    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
                    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
                    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
                    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>

                </div>
        <div class="col">

        </div>
    </section>
</div>

<router-outlet></router-outlet>
