<div class="container-all">
    <section class="row moreInfo">      
        <div class="col">
            <img class="investigarLogo" src="assets\images\logo_home_.svg" alt="Isologo de Investiar"
            routerLink="/home" routerLinkActive="active">
            <p class="info">Investig.ar es una plataforma interactiva de investigación multidisciplinaria que tiene como principal objetivo evaluar distintos procesos cognitivos dentro de la sociedad. La finalidad principal es generar estrategias para mejorar la calidad de vida de las personas basadas en evidencias científicas.</p>
            <button mat-raised-button class="button-home" routerLink="/select-test" routerLinkActive="active">INGRESAR</button>
            <app-bio></app-bio>
            <button mat-raised-button class="button-home button-bottom" routerLink="/select-test" routerLinkActive="active">INGRESAR</button>
        </div>
    </section>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
