<div class="container-all">
    <section class="row moreInfo">      
        <div class="col">
            <img class="investigarLogo" src="assets\images\logo_home_.svg" alt="Isologo de Investiar"
            routerLink="/home" routerLinkActive="active">
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
            <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eum consequuntur vitae adipisci maxime dolorum quibusdam. Molestias, doloribus perferendis pariatur error nisi aut labore, ullam tenetur nam, quidem totam laborum.</p>
            <button mat-raised-button class="button-home" routerLink="/select-test" routerLinkActive="active">INGRESAR</button>
            <app-bio></app-bio>
            <button mat-raised-button class="button-home button-bottom" routerLink="/select-test" routerLinkActive="active">INGRESAR</button>
        </div>
    </section>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
