<div class="container-all">
    <app-header-light></app-header-light>
    <div class="container-test-name">
        <h3 class="test-name">Participante:</h3>
        <hr class="line-test">
    </div>
    <div *ngIf="user"> <!-- evita renderizar algo que no existe -->
        <ul>
            <li>Nombre: {{ user.name}}</li>
            <li>Apellido: {{ user.lastName }}</li>
            <li>Edad: {{ user.age }}</li>
            <li>Educación formal: {{user.educationLevel}}</li>
            <li>Puntos: {{ user.points }}</li>
        </ul>
        <button (click)="createUser()">CREAR</button>
        <button (click)="updateUser()">EDITAR</button>
        <button (click)="deleteUser()">ELIMINAR</button>
    </div>
</div>
<router-outlet></router-outlet>


