.suspect {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 16px;
}

.suspect>img {
    max-height: 285px;
}

.suspect>img:hover {
    cursor: pointer;
}

.suspect>img.selected {
    border: 4px solid green;
    margin: -4px;
}

.suspect>mat-radio-button {
    margin: 16px 0;
}
