.suspect {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.suspect > img {
    max-height: 20rem;
}

.suspect > img:hover {
    cursor: pointer;
}

.suspect > img.selected {
    border: 0.5rem solid #76ad2e;
    margin: -0.5rem;
}

.suspect > mat-radio-button {
    margin: 1.5rem 0;
}
