.container-all {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
} 
div.container-message {
    text-align: center;
}
h1.message {
    color: #e33b88;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 10px;
}
h4.message {
    color: #4a4067;
    margin-top: 0px;
    font-size: large;
}

p.message {
    color: #4a4067;
    margin-top: 20px;
    text-align: center;
}
section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.container-message {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // background-color: #eeeeee;
}

.buttonInit {
    color: #ffffff;
    padding: 5px 15px 5px 25px; 
    background-color: #4a4067;
}


.buttonInit:hover {
    background-color: #4a4067cc;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.icon-go { 
    // background-color: #AF6F6F; 
    background-color: #ffffff; 
    color: #4a4067;
    border-radius: 50%;
    margin-left: 15px; 
}

.icon-cloud {
    color: #76ad2e;
    font-size: 80px;


}