
<div class="container-all">
    <app-header></app-header>
    <section *ngIf="load == false" class="container">
        <div class="preloader"></div>
    </section>
    <section *ngIf="load == true" class="container">
        <div class="container-message">
            <h1 mat-dialog-title class="message">¡Perfecto!</h1>
            <span class="material-icons icon-cloud">
                cloud_done
            </span>
            <!-- <img src="assets\images\ready.png" alt=""> -->
            <h4 class="message">Tus datos fueron<br>guardados con éxito</h4>
        </div>
        <div class="container-button">
            <button class="buttonInit" mat-raised-button 
                routerLink="/test-creativity" routerLinkActive="active"
                data-backdrop="static" data-keyboard="false">
                INICIAR PRÁCTICA
                <!-- <span class="material-icons icon-go">                
                    <mat-icon>play_circle_filled</mat-icon>                       
                </span> -->
            </button>
        </div>
    </section>
</div>
