<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div id="task-breafing">
    
            <div id="task-breafing">
            
                <h1 class="title">{{ title }}</h1>

                <mat-list>

                    <mat-list-item *ngFor="let instruction of instructions">
                        <mat-icon mat-list-icon
                            color="accent">lens</mat-icon>
                        <p class="mat-list-text">
                            {{ instruction }}
                        </p>
                    </mat-list-item>

                </mat-list>
                
                <button mat-raised-button 
                    id="continue-button" 
                    class="save-form-btn" 
                    routerLink="{{ nextRoute }}"
                    routerLinkActive="active">
                    Comenzar
                </button>

            </div>
            
        </div>
</section>
