#task-breafing {
    display: flex;
    flex-flow: column;
    row-gap: 8px;
    max-width: 32rem;
    line-height: 1.32rem;
    align-items: center;
}

#continue-button {
    margin-top: 1.2rem;
    align-self: center;
}

.mat-list {
    display: flex;
    flex-flow: column;
    row-gap: 12px;
}

.mat-list .mat-list-icon {
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.5rem;
}

.mat-spinner {
    justify-self: center;
    align-self: center;
    margin: 0 auto;
}

#loading-spinner {
    margin-top: 4rem;
}