<!-- <article class="container-textarea">
    <label class="label-test" for="">Presioná "Enter" después de cada propuesta</label>
    <textarea [(ngModel)]="proposal.description" placeholder="Escribí acá tus propuetas"
        class="textarea-test"></textarea>
</article> -->

<article class="container-textarea">
    <mat-form-field class="example-full-width">
      <mat-label class="label-test" for="">Presioná "Enter"<br>después de cada propuesta</mat-label>
      <textarea  class="textarea-test" matInput [(ngModel)]="proposal.description" placeholder="Escribí acá tus propuetas"></textarea>
    </mat-form-field>
</article>