// .contain-proposal {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
// } 
.textarea-test {
    width: 500px;
    height: 500px;
    margin-top: 15px;
}
.container-textarea {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #ffffff;
}
.label-test {
    font-weight: 500;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }