<div id="timeline">
    <div *ngFor="let screenshot of timeline" 
        class="timeline--slot"
        [class.empty]="!screenshot">
        <img *ngIf="screenshot" 
            [src]="screenshot.imageURL" alt=""/>
        <div *ngIf="screenshot"
            id="overlay">
            <button mat-icon-button  
                (click)="removefromTimeline(screenshot)"
                matTooltip="Borrar de la lista"
                matTooltipShowDelay="1000">
                <mat-icon>do_disturb_on</mat-icon>
            </button>
        </div>
    </div>
</div>
