.main-app-section > * {
    max-width: 80%;
}

#task-breafing {
    display: flex;
    flex-flow: column;
    grid-row-gap: 32px;
    row-gap: 32px;
    max-width: 32rem;
    line-height: 1.32rem;
    align-items: center;
}


button {
    align-self: center;
}

.finish-task-button {
    margin-top: 64px;
}

#screenshots-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:16px;
}

.mat-list {
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
}

.mat-list .mat-list-icon {
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.5rem;
}
  