.personal-info
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 42rem;
}

.mat-card-header
{
    margin: 16px 0 !important;
}

.form-fields
{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0px 32px;
}

.row
{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
}

.mat-card-actions
{
    align-self: center;
}