.personal-info
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 42rem;
}

.form-fields
{
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.row
{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
}

.mat-card-actions
{
    align-self: center;
}

mat-card-header {
    justify-content: center;
    background-color: #4a4067;
    color: white;
    padding: 1em;
    margin: 0px 0 !important;
}

.mat-card-title {
    margin: 0 !important;
}