<section class="container">
    <app-header-rulit></app-header-rulit>
    <div class="container-instruction">
        <div class="container-title">
            <h1 class="title">Instrucciones de <br> 
            <span>"Aprendizaje"</span></h1>
        </div>
       <div class="row">
           <div class="col">
            <app-carousel></app-carousel>
           </div>
       </div>
        <div>
            <button routerLink="/select-test" routerLinkActive="active"
                class="button-back" mat-raised-button>
                <span class="material-icons icon-back">
                    <mat-icon>chevron_left</mat-icon>
                </span>
                REGRESAR
            </button>
        </div>
    </div>
</section>


