.results-card
{
    max-width: 56rem;
    margin-top: 1rem;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #4a4067;
}

.user-info {
    width: 100%;
    text-align: center;
}

.mat-display-1, .mat-typography .mat-display-1 {
    margin: 0 0 25px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.audios-container
{
	width: 300px;
}

.start-daytwo-btn 
{
    width: 160px;
	background-color: #76ad2e;
    color: #eeeeee;
    font-size: large;
    font-weight: 500;
    padding: 0.5rem 0;
}