<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">

        <div class="selectionComponent">

            <h1 class="title">Seleccioná la foto que corresponde con lo que viste en el video.</h1>

            <mat-card>
                
                <mat-card-content class="card-content">
                      
                    <mat-stepper linear #stepper>
                        <mat-step *ngFor="let pair of imagesPairs" [optional]="true">
                            <form>
                            <mat-button-toggle-group>
                                <mat-button-toggle (click)="onSelection(pair.value.fakeImage)">
                                    <img class="selection-image" src={{pair.value.fakeImage}}/>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="onSelection(pair.value.realImage)">
                                    <img class="selection-image" src={{pair.value.realImage}}/>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                            <div class="stepper-buttons">
                                <button [disabled]="!selectionMade" (click)="onConfirm()" mat-button matStepperNext>SIGUIENTE</button>
                            </div>
                            <div class="stepper-buttons">
                                <h4>Seleccionadas {{currentStep}}/{{steps}}</h4>
                            </div>
                            </form>
                        </mat-step>
                    </mat-stepper>

                </mat-card-content>

            </mat-card>
            
        </div>
                
    </section>
    
</section>
