<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">

        <div class="selectionComponent">

            <div *ngIf="started == true; then selectionStarted else selectionStopped">
                <!-- template will replace this div -->
            </div>

            <!-- selectionStopped -->
            <ng-template #selectionStopped>
                
                <div *ngIf="!completed"
                    class="task-breafing">
                
                    <h1 class="title">Tarea de Selección</h1>

                    <mat-list>
                        <mat-list-item>
                            <mat-icon mat-list-icon
                                color="accent">lens</mat-icon>
                            <p class="mat-list-text">Ahora te vamos a pedir que selecciones de entre 12 pares de fotos.</p>
                        </mat-list-item>

                        <mat-list-item>
                            <mat-icon mat-list-icon
                                color="accent">lens</mat-icon>
                            <p class="mat-list-text">Tenés que seleccionar la que corresponde con lo que viste en el video.</p>
                        </mat-list-item>
                    </mat-list>

                    <button mat-raised-button 
                        class="save-form-btn"
                        color="primary" 
                        aria-label="continuar"
                        (click)="continue()">
                        Comenzar
                    </button>

                </div>

                <div *ngIf="completed"
                    class="task-breafing">
                
                    <h1 class="title">¡Ya seleccionaste las imagenes!</h1>

                    <button mat-raised-button 
                        class="save-form-btn"
                        color="primary" 
                        aria-label="continuar"
                        (click)="continue()">
                        Continuar
                    </button>
                    <p>Seleccionadas <b>{{currentStep}}/{{steps}}</b></p>

                </div>
                
            </ng-template>

            <!-- selectionStarted -->
            <ng-template #selectionStarted>
                <h1 class="title">Seleccioná la que corresponde con lo que viste en el video.</h1>

                <div *ngIf="imagesPairsLoaded == true; then selectionTemplate else loading">
                    <!-- template will replace this div -->
                </div>
        
                <!-- loading -->
                <ng-template #loading>
                    <p>Cargando...</p>
                </ng-template>

                <ng-template #selectionTemplate>
                    <mat-card>
                    
                        <mat-card-content class="card-content">
                            
                            <mat-stepper linear #stepper>
                                <mat-step *ngFor="let random of random_pairs; let index = index" [optional]="true">
                                    
                                    <form>

                                        <div *ngIf="random == 0; then first else second">
                                            <!-- template will replace this div -->
                                        </div>

                                        <ng-template #first>
                                            <mat-button-toggle-group>
                                                <mat-button-toggle (click)="onSelection(imagesPairs[index*2])">
                                                    <img class="selection-image" src={{imagesPairs[index*2].imageURL}}/>
                                                </mat-button-toggle>
                                                <mat-button-toggle (click)="onSelection(imagesPairs[(index*2)+1])">
                                                    <img class="selection-image" src={{imagesPairs[(index*2)+1].imageURL}}/>
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                        </ng-template>

                                        <ng-template #second>
                                            <mat-button-toggle-group>
                                                <mat-button-toggle (click)="onSelection(imagesPairs[(index*2)+1])">
                                                    <img class="selection-image" src={{imagesPairs[(index*2)+1].imageURL}}/>
                                                </mat-button-toggle>
                                                <mat-button-toggle (click)="onSelection(imagesPairs[index*2])">
                                                    <img class="selection-image" src={{imagesPairs[index*2].imageURL}}/>
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                        </ng-template>

                                        <div class="stepper-buttons">
                                            <button mat-raised-button
                                                matStepperNext 
                                                class="save-form-btn"
                                                [disabled]="!selectionMade" 
                                                (click)="onConfirm()" >
                                                Siguiente
                                            </button>
                                            
                                            <p>Seleccionadas <b>{{currentStep}}/{{steps}}</b></p>
                                        </div>
                                    </form>
                                    
                                </mat-step>
                            </mat-stepper>
        
                        </mat-card-content>
        
                    </mat-card>
                </ng-template>

            </ng-template>
            
        </div>
                
    </section>
    
</section>
