<section class="container">
    <app-header></app-header>
    <div class="container-instructions">
        <div class="container-title">
            <h1 class="title">Instrucciones de <br> 
            <span>"CREATIVIDAD"</span></h1>
        </div>
       <div class="row">
           <div class="col">
            <app-carousel></app-carousel>
           </div>
       </div>
        <div>
            <button routerLink="/select-test" routerLinkActive="active"
                class="buttonBack" mat-raised-button>
                <span class="material-icons icon-back">
                    <mat-icon>chevron_left</mat-icon>
                </span>
                <a>REGRESAR</a>
            </button>
        </div>
    </div>
</section>
<router-outlet></router-outlet>
