<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="health-info">
           
            <form [formGroup]="healthInfoFormGroup" (ngSubmit)="onSaveForm($event)">
            
                <mat-card>
                    
                    <mat-card-header>
                        <mat-card-title>Datos sobre tu salud</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content class="form-fields">
                        <mat-card-subtitle>
                            La información que brindes es totalmente confidencial y solo se utilizará con fines académicos.
                        </mat-card-subtitle>
                    
                        <div class="radioAndTextGroup">

                            <!-- Toma medicina cronica -->
                            <div class="labelAndRadioContainer">
                                <label id="cronic-medicine-label">¿Consume medicación de forma crónica?</label>
                                <mat-radio-group 
                                    aria-labelledby="cronic-medicine-label"
                                    formControlName="takesCronicMedicine"
                                    class="radioButtonsGroup">
                                    <mat-radio-button [value]="true">Si</mat-radio-button>
                                    <mat-radio-button [value]="false">No</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <!-- Medicina que toma -->
                            <mat-form-field  *ngIf="takesCronicMedicine.value == true" 
                                appearance="fill">
                                <mat-label>Especifique cuales</mat-label>
                                <input type="text"
                                    matInput
                                    formControlName="cronicMedicines" 
                                    placeholder="Ej. medicina">

                                <mat-error *ngIf="cronicMedicines.hasError('required')">
                                    Medicina cronica es un dato <strong>requerido</strong>.
                                </mat-error>
                            </mat-form-field>

                        </div>
                        
                        <div class="radioAndTextGroup">
                            <!-- Tiene transtorno de sueño -->
                            <div class="labelAndRadioContainer">
                                <label id="sleep-disorder-label">¿Sufre algún transtorno o desorden de sueño?</label>
                                <mat-radio-group
                                    aria-labelledby="sleep-disorder-label"
                                    formControlName="hasSleepDisorder"
                                    class="radioButtonsGroup">
                                    <mat-radio-button [value]="true">Si</mat-radio-button>
                                    <mat-radio-button [value]="false">No</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <!-- Transtorno de sueño -->
                            <mat-form-field  *ngIf="hasSleepDisorder.value == true" 
                                appearance="fill">
                                <mat-label>Especifique cuales</mat-label>
                                <input type="text"
                                    matInput
                                    formControlName="sleepDisorders" 
                                    placeholder="Ej. JetLag">

                                <mat-error *ngIf="sleepDisorders.hasError('required')">
                                    Transtorno de sueño es un dato <strong>requerido</strong>.
                                </mat-error>
                            </mat-form-field>

                        </div>
                        
                        <!-- Boton siguiente -->
                        <mat-card-actions>
                            <button mat-raised-button type="submit" class="save-form-btn">
                                SIGUIENTE
                            </button>   
                        </mat-card-actions>
                        
                    </mat-card-content>
                
                </mat-card>

            </form>

        </div>
    </section>
</section>
