<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="health-info">
           
            <form [formGroup]="healthInfoFormGroup" (ngSubmit)="onSaveForm($event)">
            
                <mat-card>
                    
                    <mat-card-header>
                        <mat-card-title>Datos sobre tu salud</mat-card-title>
                        <mat-card-subtitle>
                            La información que brindes es totalmente confidencial y solo se utilizará con fines académicos.
                            Las siguientes preguntas buscan recopilar información socio-demográfica:
                        </mat-card-subtitle>
                    </mat-card-header>
                    
                    <mat-card-content class="form-fields">
                    
                        <!-- Toma medicina cronica -->
                        <div>
                            <label id="cronic-medicine-label">¿Consume medicación de forma crónica?</label>
                            <mat-radio-group 
                                aria-labelledby="cronic-medicine-label"
                                formControlName="takesCronicMedicine">
                                <mat-radio-button [value]="true">Si</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <!-- Medicina que toma -->
                        <mat-form-field  *ngIf="takesCronicMedicine.value == true" 
                            appearance="fill">
                            <mat-label>Especifique cuales</mat-label>
                            <input type="text"
                                matInput
                                formControlName="cronicMedicines" 
                                placeholder="Ej. medicina">

                            <mat-error *ngIf="cronicMedicines.hasError('required')">
                                Medicina cronica es un dato <strong>requerido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <!-- Tiene transtorno de sueño -->
                        <div>
                            <label id="sleep-disorder-label">¿Sufre algún transtorno o desroden de sueño?</label>
                            <mat-radio-group
                                aria-labelledby="sleep-disorder-label"
                                formControlName="hasSleepDisorder">
                                <mat-radio-button [value]="true">Si</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <!-- Transtorno de sueño -->
                        <mat-form-field  *ngIf="hasSleepDisorder.value == true" 
                            appearance="fill">
                            <mat-label>Especifique cuales</mat-label>
                            <input type="text"
                                matInput
                                formControlName="sleepDisorders" 
                                placeholder="Ej. JetLag">

                            <mat-error *ngIf="sleepDisorders.hasError('required')">
                                Transtorno de sueño es un dato <strong>requerido</strong>.
                            </mat-error>
                        </mat-form-field>

                        <!-- Boton siguiente -->
                        <mat-card-actions>
                            <button mat-raised-button type="submit" class="save-form-btn">
                                Siguiente
                            </button>   
                        </mat-card-actions>
                        
                    </mat-card-content>
                
                </mat-card>

            </form>

        </div>
    </section>
</section>
