
.container {
    background-color: #eeeeee;
    width: 100%;
    min-height: 100%;
}

.container__component {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

canvas {
    margin: 1.5em 0;
}

.shipping-card{
    margin-top: 2rem;
}

// User Form

.save-form-btn{
    width: 100%;
    background-color: #76ad2e;
    color: #eeeeee;
    font-size: large;
    font-weight: 500;
    padding: 0.5rem 0;
}

.save-form-btn:hover{
    color: white;
    background-color: #76ad2ecc;
}

// Card in RulitUserFormComponent
mat-card {
    display: flex;
    flex-flow: column;
    min-width: 20em;
    color: #4a4067;
}

mat-card-header {
    justify-content: center;
    background-color: #4a4067;
    color: white;
    padding: 1em;
}

.mat-card-title {
    margin: 0 !important;
}

mat-card-content {
    display: flex;
    flex-flow: column;
    row-gap: 1em;
}

mat-card-content span{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-weight: bold;
    color: #e33b88;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

// Countdown

h1.countdown {
    font-size: 200px;
    color: #e33b88;    
}

// instructions

.container-instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 29px;
    height: auto;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 942px;
}
h1.title {
    text-align: center; font-weight: 400; font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #4A4067;
}
h1>span {
    font-weight: 400;
    margin-top: 12px; color: #e33b88;

}

.button-back {
    color: #e33b88;
    padding: 5px 40px 5px 15px;
    border: 0.5px solid #e33b88;
}

.button-back:hover {
    background-color: #e33b881b;
}

.icon-back {
    background-color: #e33b88;
    color: white;
    border-radius: 50%;
    margin-right: 20px;
}


@media screen and (max-width: 1600px) {

    h1.title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        min-height: 880px;
    }

}

@media screen and (max-width: 1366px) {
    .container {
        min-height: 600px;
    }

    h1.title {
        font-size: 1.8em;
    }

    h1>span {
        font-weight: 400;
        margin-top: 12px; color: #e33b88;

    }

    .button-back {
        padding: 0px 20px 0px 10px;
    }

    .icon-back {
        margin-right: 7px;
    }

    h1.title {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        min-height: 620px;
    }

}

@media screen and(max-width: 375px) {
    h1.title {
        margin-top: 10px;     
        font-size: 1.5em;
    }
    
}
