<div *ngIf="!started" class="container-all">
    <app-header-creativity></app-header-creativity>
    <section class="container-countdown">
        <h1 class="countdown">{{ time }}</h1> 
    </section>
</div>

<router-outlet></router-outlet>
<div *ngIf="started" class="container-all">
    <app-header-creativity></app-header-creativity>
    <section class="container">
        <article class="container-element-textarea"> 
            <app-element class="container-element"></app-element>   
            <app-proposal
                *ngFor="let proposal of proposals" 
                (proposalAggregate)="addProposalToTextarea($event)"
                [proposal]="proposal">
            </app-proposal>   
        </article>
        <app-clock></app-clock>
    </section>
</div>
<router-outlet></router-outlet>

