.container-all {
    background: #F9F9F9 !important;
    height: 100%;
}
.test-name {
    margin-left: 70px;
    color: #4a4067;
}
.container-test-name {
    background-color: #f9f9f9;
    padding: 0px;
}
section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    height: auto;
    padding: 0px;
    flex-direction: column;
    position: absolute;
}
.line-test {
    margin-left: 70px;
    color: #4a4067;
    width: 20%;
}
.container-element {
    width: 75%;
}

.containProposal .containTestCreativity {
    margin: 20px;
    padding: 20px;
}

.container-element-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
}
 