<div class="container-all">
    <app-header-light></app-header-light>
    <div class="container-tast-name">
        <h3 class="test-name">Actividad: {{ testCreativity.name | uppercase }}</h3>
    </div>
    <section class="container">
        <article class="container-element-textarea"> 
            <app-element class="container-element"></app-element>   
            <app-user 
                *ngFor="let proposal of proposals" 
                (proposalAggregate)="addProposalToTextarea($event)"
                [proposal]="proposal">
            </app-user>   
        </article>
        <app-clock></app-clock>
    </section>
</div>
<router-outlet></router-outlet>

