.container-all {
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    min-height: 900px;
} 
.preloader {
    width: 50px;
    height: 50px;
    border: 10px solid #4a406769;
    border-top: 10px solid #4a4067;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: 3s;
    animation-timing-function: linear;
    margin-top: 170px;
}
@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}


div.container-message {
    text-align: center;
}
h1.message {
    color: #e33b88;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 10px;
}
h4.message {
    color: #4a4067;
    margin-top: 0px;
    font-size: large;
}

p.message {
    color: #4a4067;
    margin-top: 20px;
    text-align: center;
}
section.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.container-message {
    padding-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // background-color: #eeeeee;
}
.buttonInit {
    padding: 10px 50px;
    background-color: #4a4067;
    color: #ffffff;
    font-size: larger;
    font-weight: 500;   
}


.buttonInit:hover {
    background-color: #4a4067cc;
}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.icon-go { 
    background-color: #ffffff; 
    color: #4a4067;
    border-radius: 50%;
    margin: 0px 15px 0px 35px; 
}

.icon-cloud {
    color: #76ad2e;
    font-size: 80px;
}

@media screen and (max-width: 1440px) {
    .container-all {
        min-height: 880px;
    }

}

@media screen and (max-width: 1366px) {
    .container-all {
        min-height: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .container-all {
        min-height: 620px;
    }
}
@media screen and (max-width: 425px) {
    div.container-message {
        padding-top: 30px;
    }
}
@media screen and (max-width: 320px){
   
    .buttonInit {
        padding: 8px 50px;
        font-size: large;
    }    
}