div.container-all {
    background-color: #eeeeee;
    width: 100%;
    height: auto;
}

div.container-googleForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px, auto;
}
