<div class="containerAll">
    <app-header-admin></app-header-admin>
    <div class="contains-body">

        <div *ngIf="auth.user$ | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>

        <!-- User NOT logged in -->
        <ng-template #guest>
            <h3>Activá tu cuenta</h3>
            
            <button mat-button (click)="auth.googleSignin()">
                <i class="fa fa-google"></i>Ingresar con Google
            </button>

        </ng-template>


        <!-- User logged in -->
        <ng-template #authenticated>
            <div *ngIf="auth.user$ | async as user">
                <button (click)="auth.signOut()">Logout</button>
            </div>
        </ng-template>

    </div>
</div>
