
<div class="container-all">
    <app-header-admin></app-header-admin>
    <div class="contains-body">
        <div class="titleAndButton">
            <h1 class="title">Datos de Test de creatividad</h1>
            <h2  id="usersCount" class="subtitle">Total de usuarios testeados {{ creativesUsers.length }}</h2>
            <button mat-raised-button class="button-getData" (click)="getData()">
               DESCARGAR
            </button>
            <!-- <button mat-raised-button class="button-getData">
                CANTIDAD DE USUARIOS TESTEADOS
            </button> -->
        </div>
        <div class="media"> 
           
            <div class="contains-tables">
                <table>                    
                    <thead>
                        <tr>
                            <th id="name">Nombre</th>
                            <th>Edad</th>
                            <th>Ciudad</th>
                            <th>Máxima_educación_alcanzada</th>
                            <th>Carrera</th>
                            <th id="formation">Estado_actual_de_formación</th>
                            <th>Escuela/Institución</th>
                            <th>Año</th>
                            <th>Curso</th>
                            <th>Grado</th>
                            <th>Propuestas</th>
                            <th>Tiempo_inicio</th>
                            <th>Tiempo_fin</th>
                            <th>Usuario_N°</th>
                        </tr>

                        <!--                         
                        Columnas condicionales

                        <th *ngIf="user.data.degree != null">Carrera</th>
                        <th id="formation" *ngIf="user.data.educationStatus != null">Estado_actual_de_formación</th>
                        <th *ngIf="user.data.school != null">Escuela/Institución</th>
                        <th *ngIf="user.data.year != null">Año</th>
                        <th *ngIf="user.data.course != null">Curso</th>
                        <th *ngIf="user.data.grade != null">Grado</th> -->

                    </thead>
                    <tbody>              
                        <tr *ngFor="let user of creativesUsers, let count = index">
                            <td>{{user.data.nameLastName}}</td>
                            <td>{{user.data.age}}</td>
                            <td>{{user.data.city}}</td> 
                            <td>{{user.data.educationLevel}}</td>
                            <td>{{user.data.degree}}</td>
                            <td>{{user.data.educationStatus}}</td>
                            <td>{{user.data.school}}</td>
                            <td>{{user.data.year}}</td>
                            <td>{{user.data.course}}</td>
                            <td>{{user.data.grade}}</td>
                            <td class="proposal">{{user.data.proposal}}</td>
                            <td class="timeInit">{{user.data.dateStart.toDate() | date:'long'}}</td>
                            <td>{{user.data.dateEnd.toMillis() | date:'mediumTime'}}</td>
                            <td>{{count + 1}}</td>
                        </tr>

                        <!--                         
                        Datos de columnas condicionales

                        <td *ngIf="user.data.degree != null">{{user.data.degree}}</td>
                        <td *ngIf="user.data.educationStatus != null">{{user.data.educationStatus}}</td>
                        <td *ngIf="user.data.school != null">{{user.data.school}}</td>
                        <td *ngIf="user.data.year != null">{{user.data.year}}</td>
                        <td *ngIf="user.data.course != null">{{user.data.course}}</td>
                        <td *ngIf="user.data.grade != null">{{user.data.grade}}</td> -->

                    </tbody>                     
                   
                </table><br><br>
                <!-- <div>{{end.value = !end}}</div> -->
               
                <!-- <div *ngIf="end == false"> -->
                    
                <!-- </div> -->
                <!-- <div *ngIf="end == false">
                    <h2  id="usersCount" class="subtitle">Total de usuarios testeados {{count + 1}}</h2>
                </div> -->
            </div>
            
        </div>
     
    </div>
</div> 


