
<div class="container-all">
    <app-header-admin></app-header-admin>
    <div class="contains-body">
        <div class="titleAndButton">
            <h1 class="title">Datos de Test de creatividad</h1>
            <h2  id="usersCount" class="subtitle">Total de usuarios testeados {{ totalTestsCounter.count }}</h2>
            <button mat-raised-button class="button-getData" (click)="getData()">
               DESCARGAR
            </button>
            <!-- <button mat-raised-button class="button-getData">
                CANTIDAD DE USUARIOS TESTEADOS
            </button> -->
        </div>
        
           
        <div class="contains-tables mat-elevation-z8">
            <mat-table [dataSource]="testsDataSource">

                <!-- NameLastName Column -->
                <ng-container matColumnDef="nameLastName">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let user"> {{ user.nameLastName }} </td>
                </ng-container>

                <!-- Age Column -->
                <ng-container matColumnDef="age">
                  <th mat-header-cell *matHeaderCellDef> Edad </th>
                  <td mat-cell *matCellDef="let user"> {{ user.age }} </td>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                  <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                  <td mat-cell *matCellDef="let user"> {{ user.city }} </td>
                </ng-container>

                <!-- EducationLevel Column -->
                <ng-container matColumnDef="educationLevel">
                  <th mat-header-cell *matHeaderCellDef> Educación </th>
                  <td mat-cell *matCellDef="let user"> {{ user.educationLevel }} </td>
                </ng-container>

                <!-- EducationStatus Column -->
                <ng-container matColumnDef="educationStatus">
                  <th mat-header-cell *matHeaderCellDef> Estado de Formación </th>
                  <td mat-cell *matCellDef="let user"> {{ user.educationStatus | replaceNullWithText }} </td>
                </ng-container>

                <!-- School Column -->
                <ng-container matColumnDef="school">
                  <th mat-header-cell *matHeaderCellDef> Escuela / Institución </th>
                  <td mat-cell *matCellDef="let user"> {{ user.school | replaceNullWithText }} </td>
                </ng-container>

                <!-- Degree Column -->
                <ng-container matColumnDef="degree">
                  <th mat-header-cell *matHeaderCellDef> Grado </th>
                  <td mat-cell *matCellDef="let user"> {{ user.degree | replaceNullWithText }} </td>
                </ng-container>

                <!-- Year Column -->
                <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef> Año </th>
                  <td mat-cell *matCellDef="let user"> {{ user.year | replaceNullWithText }} </td>
                </ng-container>

                <!-- Grade Column -->
                <ng-container matColumnDef="grade">
                  <th mat-header-cell *matHeaderCellDef> Grade </th>
                  <td mat-cell *matCellDef="let user"> {{ user.grade | replaceNullWithText }} </td>
                </ng-container>

                <!-- Course Column -->
                <ng-container matColumnDef="course">
                  <th mat-header-cell *matHeaderCellDef> Curso </th>
                  <td mat-cell *matCellDef="let user"> {{ user.course | replaceNullWithText }} </td>
                </ng-container>

                <!-- Object Column -->
                <ng-container matColumnDef="object">
                  <th mat-header-cell *matHeaderCellDef> Objeto </th>
                  <td mat-cell *matCellDef="let user"> {{ user.object | replaceNullWithText }} </td>
                </ng-container>

                <!-- Proposal Column -->
                <ng-container matColumnDef="proposal">
                  <th mat-header-cell *matHeaderCellDef> Propuestas </th>
                  <td mat-cell *matCellDef="let user"> {{ user.proposal | replaceNullWithText }} </td>
                </ng-container>

                <!-- DateStart Column -->
                <ng-container matColumnDef="dateStart">
                  <th mat-header-cell *matHeaderCellDef> Tiempo Inicio </th>
                  <td mat-cell *matCellDef="let user"> {{ user.dateStart.toDate() | date:'long' }} </td>
                </ng-container>

                <!-- DateEnd Column -->
                <ng-container matColumnDef="dateEnd">
                  <th mat-header-cell *matHeaderCellDef> Tiempo Fin </th>
                  <td mat-cell *matCellDef="let user"> {{ user.dateEnd.toMillis() | date:'mediumTime' }} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </mat-table>
            
            <mat-paginator [length]="totalTestsCounter.count" [pageSize]="pageSize"
                    [pageSizeOptions]="[1, 2, 3]"></mat-paginator>

            
        </div>
     
    </div>
</div> 


