.containerAll {
    background: #eeeeee;
    min-height: 100%;
    width: 100%;
}

.contains-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    padding-bottom: 4em;
}

.button-getData {
    font-size: larger;
    padding: 10px 80px;
    font-weight: 600;
    color: #E33B88;
}

.button-getData:hover {
    background-color: #ffffffcc;
    -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
    -moz-box-shadow: inset 0 0 0 2px #ffcf02;
    box-shadow: inset 0px 0px 0px 2px #ffcf02;
}

// .title {
//     margin-bottom: 50px;
// }

.contains-tables {
    max-width: 90%;
    // margin: 0 4em;
}

.table__item-proposal {
    min-width: 15em;
    max-width: 15em;
}

mat-header-cell {
    background-color:  #4a4067;
    color: #eeeeee;
    padding: 0 1em !important;
}  

mat-cell {
    // border: 1px solid #dddddd;
    // text-align: left;
    padding: 1em !important;
}

mat-paginator {
    background-color:  #E33B88;
    color: #eeeeee;
}

// mat-paginator>span.mat-button-wrapper{
//     color: #ffcf02 !important;
// }

// .spinner-container {
//     height: 360px;
//     width: 390px;
//     position: fixed;
// }

// .spinner-container mat-spinner {
//     margin: 130px auto 0 auto;
// }

// .proposal {
//     max-width: 400px;
// }

// .timeInit {
//     max-width: 300px !important;
// }

h1, h2 {
    text-align: center;
    color: #E33B88;
}

.titleAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .contains-body, .contains-tables {
//     display: block;
//     justify-content: center;
//     align-items: center;
// }

// .media {
//     display: flex;
//     justify-content: center;
//     align-items: center;
   
// }

// @media screen and (max-width: 1440px) {
//    .contains-body {
//        width: fit-content;
//    }
//    .media {
//        width: 80%;
//        display: block;
//        justify-content: center;
//        align-items: center;
//    }


  

// }

// @media screen and (max-width: 320px) {
//     .container-all {
//         min-height: 800px;
//         padding-bottom: 0px;
//     }
   
// }

// test-select
.testSelect {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.testSelect__options {
    display: flex;
    column-gap: 1em;
}

.testSelect__testLink {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 5%;
    color: #E33B88;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
}

.testSelect__testLink:focus {
    outline: none; 
}

.testSelect__testLink:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
    -moz-box-shadow: inset 0 0 0 2px #ffcf02;
    box-shadow: inset 0px 0px 0px 2px #ffcf02; 
    background-color: rgba($color: #FFFFFF, $alpha: 0.8); 
}
