<form [formGroup]="dataUser" novalidate (ngSubmit)="onSaveForm($event)">
    <mat-card class="shipping-card">
      <mat-card-header class="container-title">
        <mat-card-title>Datos personales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container-message">
          <p class="message">Todos los campos son requeridos</p>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 30 caracteres">
              <mat-label>Nombre y Apellido</mat-label>
              <input matNativeControl type="text" formControlName="nameLastName" 
                matInput #nameLastNameInput maxlength="30" placeholder="Ingresá tu nombre y apellido"
                class="input">
              <mat-hint align="end">{{ nameLastNameInput.value.length }}/30</mat-hint> 
              <div class="alert-danger" *ngIf="nameLastName.invalid && (nameLastName.dirty || nameLastName.touched)">
                <div class="container-error-message" *ngIf="nameLastName.errors.required">
                  Tu nombre y apellido son un dato requerido.
                </div>
                <div class="container-error-message" *ngIf="nameLastName.errors.pattern">
                  El dato ingresado debe ser válido
                </div>
              </div>
            </mat-form-field>
          </div>       
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Mínimo 10 / Máximo 100">
              <mat-label>Edad</mat-label>
                <input matNativeControl type="number" min="10" matInput placeholder="Ingresá tu edad" formControlName="age"
                  class="input">
                <div class="alert-danger" *ngIf="age.invalid && (age.dirty || age.touched)">
                  <div class="container-error-message" *ngIf="age.errors.required">
                    Tu edad es un dato requerido.
                  </div>
                  <div class="container-error-message" *ngIf="age.errors.min">
                    Es necesario que tengas 10 o más años.
                  </div>
                  <div class="container-error-message" *ngIf="age.errors.max">
                    No podés ingresar más de 100 años.
                  </div>
                </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 30 caracteres">
              <mat-label>Ciudad</mat-label>
              <input matNativeControl type="text" formControlName="city" 
                matInput #cityInput maxlength="30" placeholder="Ingresá la ciudad donde vivís"
                class="input">
              <mat-hint align="end">{{ cityInput.value.length }}/30</mat-hint> 
              <div class="alert-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
                <div class="container-error-message" *ngIf="city.errors.required">
                  Tu ciudad es un dato requerido.
                </div>
                <div class="container-error-message" *ngIf="city.errors.pattern">
                  El dato ingresado debe ser válido
                </div>
              </div>
            </mat-form-field>
          </div>       
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Máxima educación alcanzada</mat-label>
              <mat-select matNativeControl type="text" matInput 
                class="input" formControlName="educationLevel"  placeholder="Máxima educación alcanzada">
                <mat-option value="Primaria">Primaria</mat-option>
                <mat-option value="Secundaria">Secundaria</mat-option>
                <mat-option value="Terciaria">Terciaria</mat-option>
                <mat-option value="Universitaria">Universitaria</mat-option>
                <mat-option value="Ninguna">Ninguna</mat-option>
              </mat-select>
              <mat-hint align="end">Hacer click en la flecha ^</mat-hint>
              <div class="alert-danger" *ngIf="educationLevel.value == '' && (educationLevel.dirty || educationLevel.touched)">
                <div class="container-error-message" *ngIf="educationLevel.errors.required">
                  Máxima educación alcanzada es un dato requerido.
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="educationLevel.value == 'Universitaria' || educationLevel.value == 'Terciaria'">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 40 caracteres">
              <mat-label>Carrera</mat-label>
              <input matNativeControl type="text" matInput #degreeInput 
                class="input" maxlength="40" placeholder="Ingresá el nombre de tu carrera" formControlName="degree">
              <mat-hint align="end">{{ degreeInput.value.length }}/40</mat-hint>
              <div class="alert-danger" *ngIf="degree.invalid">
                <div class="container-error-message">
                  El dato ingresado debe ser válido.
                </div>
              </div>
              <div class="alert-danger" *ngIf="(degree.dirty || degree.touched) && degree.value == ''">
                <div class="container-error-message">
                  Carrera es un dato requerido.
                </div>
              </div>

            
            </mat-form-field>
          </div>
        </div>

        <div class="row" *ngIf="educationLevel.value != 'Ninguna' && educationLevel.value != ''">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Estado actual de tu formación</mat-label>
              <mat-select matNativeControl type="text" matInput 
                class="input" formControlName="educationStatus"  placeholder="Estado actual">
                <mat-option value="Completa">Completa</mat-option>
                <mat-option value="Incompleta">Incompleta</mat-option>
                <mat-option value="En curso">En curso</mat-option>
              </mat-select>
              <mat-hint align="end">Hacer click en la flecha ^</mat-hint>
              <div class="alert-danger" 
                *ngIf="(educationStatus.dirty || educationStatus.touched) && (educationStatus.value == '')">
                <div class="container-error-message">
                  Estado actual es un dato requerido.
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="(educationLevel.value != 'Ninguna' && educationLevel.value != '') && educationStatus.value == 'En curso'">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 40 caracteres">
              <mat-label>Escuela/Institución</mat-label>
              <input matNativeControl type="text" matInput #schoolInput 
                class="input" maxlength="40" placeholder="Nombre de la Institución o Escuela donde estudias" formControlName="school">
              <mat-hint align="end">{{ schoolInput.value.length }}/40</mat-hint>
              <div class="alert-danger" *ngIf="(school.dirty || school.touched) && school.value == ''">
                <div class="container-error-message">
                  Escuela/Institución es un dato requerido.
                </div>
              </div>
              <div lass="alert-danger" *ngIf="school.invalid">
                <div class="container-error-message">
                  El dato ingresado no es válido.
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="educationLevel.value == 'Secundaria' && educationStatus.value == 'En curso'">
          <div class="col">
            <mat-form-field class="year full-width" appearance="fill">
              <mat-label>Año</mat-label>
              <mat-select matNativeControl type="text" matInput 
                #yearInput formControlName="year"  placeholder="Año de cursada"
                class="input">
                <mat-option value="1ro">1ro</mat-option>
                <mat-option value="2do">2do</mat-option>
                <mat-option value="3er">3er</mat-option>
                <mat-option value="4to">4to</mat-option>
                <mat-option value="5to">5to</mat-option>
                <mat-option value="6to">6to</mat-option>
              </mat-select>
              <div class="alert-danger" *ngIf="(year.dirty || year.touched) && year.value == ''">
                <div class="container-error-message">
                  Año es un dato requerido.
                </div>
              </div>
              <mat-hint align="end">Hacer click en la flecha ^</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Curso</mat-label>
              <input matNativeControl type="text" matInput #schoolInput 
                class="input" maxlength="1" placeholder="Ingresá tu curso" formControlName="course">
              <mat-hint align="end">{{ course.value.length }}/1</mat-hint>
              <div class="alert-danger" *ngIf="course.value == '' && (course.dirty || course.touched)">
                <div class="container-error-message">
                  Curso es un dato requerido.
                </div>
              </div>
              <div class="alert-danger" *ngIf="course.invalid">
                <div class="container-error-message">
                  El dato ingresado debe ser una letra.
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="educationLevel.value == 'Primaria' && educationStatus.value == 'En curso'">
          <div class="col">
            <mat-form-field class="grade full-width" appearance="fill">
              <mat-label>Grado</mat-label>
              <mat-select matNativeControl type="text" matInput 
                #gradeInput formControlName="grade"  placeholder="Grado de cursada"
                class="input">
                <mat-option value="1ro">1ro</mat-option>
                <mat-option value="2do">2do</mat-option>
                <mat-option value="3er">3er</mat-option>
                <mat-option value="4to">4to</mat-option>
                <mat-option value="5to">5to</mat-option>
                <mat-option value="6to">6to</mat-option>
              </mat-select>
              <div class="alert-danger" *ngIf="(grade.dirty || grade.touched) && grade.value == ''">
                <div class="container-error-message">
                  Grado es un dato requerido.
                </div>
              </div>
              <mat-hint align="end">Hacer click en la flecha ^</mat-hint>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Curso</mat-label>
              <input matNativeControl type="text" matInput #schoolInput 
                class="course" maxlength="1" placeholder="Ingresá tu curso" formControlName="course">
              <mat-hint align="end">{{ course.value.length }}/1</mat-hint>
              <div class="alert-danger" *ngIf="course.value == '' && (course.dirty || course.touched)">
                <div class="container-error-message">
                  Curso es un dato requerido.
                </div>
              </div>
              <div class="alert-danger" *ngIf="course.invalid">
                <div class="container-error-message">
                  El dato ingresado debe ser una letra.
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>      
        <mat-card-actions *ngIf="!dataUser.valid" class="container-button-off">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && educationLevel.value == 'Ninguna')"   
          class="container-button">
          <button mat-raised-button class="buttonForm"
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>

        <mat-card-actions *ngIf="dataUser.valid && (educationLevel.value == 'Universitaria' 
          || educationLevel.value == 'Terciaria') && 
          ((degree.value == '' || degree.invalid) || educationStatus.value == '')"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Universitaria' 
        || educationLevel.value == 'Terciaria') && 
        (degree.invalid || degree.value != '' ) && educationStatus.value == 'En curso' 
        && (school.value == '' || school.invalid))"  
        class="container-button">
        <button mat-raised-button class="buttonForm-off" 
          type="submit" [disabled]="dataUser.valid">
          GUARDAR DATOS
        </button>   
      </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Universitaria' 
          || educationLevel.value == 'Terciaria') && 
          (degree.value != '' && degree.valid) && educationStatus.value == 'En curso' 
          && (school.value != '' && school.valid))"  
          class="container-button">
          <button mat-raised-button class="buttonForm" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Universitaria' 
          || educationLevel.value == 'Terciaria') && (degree.value != '' 
          && ((educationStatus.value == 'Completa' || educationStatus.value == 'Incompleta')
          && school.valid)))"  
          class="container-button">
          <button mat-raised-button class="buttonForm" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Primaria' 
          || educationLevel.value == 'Secundaria') && (educationStatus.value == ''))"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Primaria' 
          || educationLevel.value == 'Secundaria') && (educationStatus.value == 'Completa' || educationStatus.value == 'Incompleta'))"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Primaria') 
          && (educationStatus.value == 'En curso' && 
          ((grade.value == '') || (course.value == '') || (school.value == ''))))"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Primaria') 
          && (educationStatus.value == 'En curso' && 
          ((grade.value != '') && (course.value != '') && (school.value != ''))))"  
          class="container-button">
          <button mat-raised-button class="buttonForm" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Secundaria') 
          && (educationStatus.value == 'En curso' && 
          ((year.value == '') || (course.value == '') || (school.value == ''))))"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
        <mat-card-actions *ngIf="(dataUser.valid && (educationLevel.value == 'Secundaria') 
          && (educationStatus.value == 'En curso' && 
          ((year.value != '') && (course.value != '') && (school.value != ''))))"  
          class="container-button">
          <button mat-raised-button class="buttonForm-off" 
            type="submit" [disabled]="!dataUser.valid">
            GUARDAR DATOS
          </button>   
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
  
  <router-outlet></router-outlet>
  
  
  
  