<!-- <div class="form-container">
    <h1>contact</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <input type="text" matInput placeholder="Tu nombre" formControlName="name">
        <input type="text" matInput placeholder="Tu apellido" formControlName="lastName"> 
        <input type="number" matInput placeholder="Tu edad" formControlName="age">
        <input type="email" matInput placeholder="Tu email" formControlName="email">
        <input type="text" matInput placeholder="Educación formal" formControlName="educationLevel">
    <button type="submit">Enviar</button>
    </form>
</div> -->

<!-- <div class="form-container">
    <h1>contact</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <input type="text" matInput placeholder="Tu nombre" formControlName="name">
        <input type="text" matInput placeholder="Tu apellido" formControlName="lastName"> 
        <input type="number" matInput placeholder="Tu edad" formControlName="age">
        <input type="email" matInput placeholder="Tu email" formControlName="email">
        <input type="text" matInput placeholder="Educación formal" formControlName="educationlevel">
    <button type="submit">Enviar</button>
    </form>
</div> -->

<form [formGroup]="contactForm" novalidate (ngSubmit)="onSaveForm($event)">
    <mat-card class="shipping-card">
      <mat-card-header class="container-title">
        <mat-card-title>Datos personales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container-message">
          <p class="message">Todos los campos son requeridos</p>
        </div>
        <div class="row">
          <div class="col">
            <!-- <mat-form-field class="full-width" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matNativeControl type="text" matInput placeholder="Ingresá tu nombre" formControlName="name">
              <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="container-error-message" *ngIf="name.errors.required">
                  Tu nombre es un dato requerido.
                </div>
                <div class="container-error-message" *ngIf="name.errors.minlength">
                  Debe tener 3 carácteres como mínimo.
                </div>
                <div class="container-error-message" *ngIf="name.errors.maxlength">
                  Puede tener 15 carácteres como máximo.
                </div>
                <div class="container-error-message" *ngIf="(name.errors.pattern)">
                  El nombre ingresado debe ser válido
                </div>
              </div>
            </mat-form-field> -->
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 15 caracteres">
              <mat-label>Nombre</mat-label>
              <input matNativeControl type="text" matInput placeholder="Ingresá tu nombre" 
                #input maxlength="15" formControlName="name">
              <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint> 
              <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div class="container-error-message" *ngIf="name.errors.required">
                  Tu nombre es un dato requerido.
                </div>
                <div class="container-error-message" *ngIf="(name.errors.pattern)">
                  El nombre ingresado debe ser válido
                </div>
              </div>
            </mat-form-field>
          </div>       
        </div>
        <div class="row">
          <div class="col">
            <!-- <mat-form-field class="full-width" appearance="fill">
              <mat-label>Apellido</mat-label>
                <input matNativeControl type="text" matInput placeholder="Ingresá tu apellido" formControlName="lastName"> 
                <div class="alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                  <div class="container-error-message" *ngIf="lastName.errors.required">
                    Tu apellido es un dato requerido.
                  </div>
                  <div class="container-error-message" *ngIf="(lastName.errors.pattern)">
                    El apellido ingresado debe ser válido
                  </div>
                  <div class="container-error-message" *ngIf="lastName.errors.minlength">
                    Debe tener 3 caracteres como mínimo.
                  </div>
                  <div class="container-error-message" *ngIf="lastName.errors.maxlength">
                    Puede tener 15 caracteres como máximo.
                  </div>
                </div>
            </mat-form-field> -->
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo 15 caracteres">
              <mat-label>Apellido</mat-label>
                <input matNativeControl type="text" placeholder="Ingresá tu apellido" 
                  #input maxlength="15" matInput  formControlName="lastName">
                <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint> 
                <div class="alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                  <div class="container-error-message" *ngIf="lastName.errors.required">
                    Tu apellido es un dato requerido.
                  </div>
                  <div class="container-error-message" *ngIf="(lastName.errors.pattern)">
                    El nombre ingresado debe ser válido
                  </div>
                </div>
                  <!-- <div class="container-error-message" *ngIf="(lastName.errors.pattern)">
                    El apellido ingresado debe ser válido
                  </div>
                  <div class="container-error-message" *ngIf="lastName.errors.minlength">
                    Debe tener 3 caracteres como mínimo.
                  </div>
                  <div class="container-error-message" *ngIf="lastName.errors.maxlength">
                    Puede tener 15 caracteres como máximo.
                  </div>
                </div> -->
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Mímino 10 años">
              <mat-label>Edad</mat-label>
                <input matNativeControl type="number" min="10" matInput placeholder="Ingresá tu edad" formControlName="age">
                <div class="alert-danger" *ngIf="age.invalid && (age.dirty || age.touched)">
                  <div class="container-error-message" *ngIf="age.errors.required">
                    Tu edad es un dato requerido.
                  </div>
                  <div class="container-error-message" *ngIf="age.errors.min">
                    Es necesario que tengas al menos 10 años.
                  </div>
                  <div class="container-error-message" *ngIf="age.errors.max">
                    No podés tener más de 100 años.
                  </div>
                </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
                <input matNativeControl type="email" matInput 
                  placeholder="Ingresá tu email" formControlName="email" >
                <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div class="container-error-message" *ngIf="email.errors.required">
                    Tu email es un dato requerido.
                  </div>
                  <div class="container-error-message" *ngIf="(email.dirty || email.touched)
                    && (email.errors.pattern)">
                    El email ingresado debe ser válido
                  </div>
                </div>
            </mat-form-field>
          </div>
        </div> 
        <div class="row">
            <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Educación formal</mat-label>
              <mat-select matNativeControl type="text" matInput 
                formControlName="educationLevel"  placeholder="Educación formal">
                <mat-option value="Primaria">Primaria</mat-option>
                <mat-option value="Secundaria">Secundaria</mat-option>
                <mat-option value="Terciaria">Terciaria</mat-option>
                <mat-option value="Universitaria">Universitaria</mat-option>
                <mat-option value="Ninguna">Ninguna</mat-option>
              </mat-select>
              <mat-hint align="end">Hacé click en la flecha desplegable ^</mat-hint>
              <div class="alert-danger" *ngIf="educationLevel.invalid && (educationLevel.dirty || educationLevel.touched)">
                <div class="container-error-message" *ngIf="educationLevel.errors.required">
                  Educación formal es un dato requerido.
                </div>
              </div>
            </mat-form-field>
            </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card-actions *ngIf="!contactForm.valid" class="container-button">
        <button mat-raised-button class="buttonForm-off" 
          type="submit" [disabled]="!contactForm.valid">
          <!-- routerLink="/test-crativity" routerLinkActive="active"> -->
          ENVIAR
        </button>   
    </mat-card-actions>
    <mat-card-actions *ngIf="contactForm.valid" class="container-button">
      <button mat-raised-button class="buttonForm" 
        type="submit" [disabled]="!contactForm.valid">
        <!-- routerLink="/test-crativity" routerLinkActive="active"> -->
        ENVIAR
      </button>   
  </mat-card-actions>
  </form>
  
  <router-outlet></router-outlet>
  
  
  
  