
.full-width {
  width: 92%;
}

.shipping-card {
  min-width: 300px;
  margin: 0px auto 30px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

div.row {
  display: flex;
  flex-direction: row;
  padding: 6px 20px;
}

.col {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}

mat-label.label {
  font-weight: 500;
}

.buttonForm {
  background-color: #78AF6F;
  color: white;
  font-size: large;
  padding: 15px 116px;
  font-weight: 600;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
