<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="company">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="Edad" type="number" required formControlName="postalCode">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label class="label">Educación formal finalizada o en curso</mat-label>
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">Primaria</mat-radio-button>
            <mat-radio-button value="priority">Secundaria</mat-radio-button>
            <mat-radio-button value="nextday">Terciaria</mat-radio-button>
            <mat-radio-button value="nextday">Universitaria</mat-radio-button>
            <mat-radio-button value="nextday">Ninguna</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="container-button"> 
    <button routerLink="/test-creativity" routerLinkActive="active"
      mat-raised-button class="buttonForm" type="submit">COMENZAR</button>
  </mat-card-actions>
</form>
<router-outlet></router-outlet>

