<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="lastName">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Edad" type="number" formControlName="age">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-label class="label">Educación formal finalizada o en curso</mat-label>
          <mat-radio-group formControlName="educationLevel">
            <mat-radio-button value="free">Primaria</mat-radio-button>
            <mat-radio-button value="free">Primaria</mat-radio-button>
            <mat-radio-button value="free">Primaria</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card-actions class="container-button">
    <!-- <button routerLink="/test-creativity" routerLinkActive="active"
      mat-raised-button class="buttonForm" type="submit" (click)="onSubmit()">ENVIAR
    </button>    -->
    <!-- <button routerLink="/instructions-creativity" routerLinkActive="active"
        class="buttonBack" mat-raised-button>
        <span class="material-icons icon-back">
          <mat-icon>chevron_left</mat-icon>
        </span>
        <a>REGRESAR</a>
    </button>
    <button routerLink="/select-test" routerLinkActive="active"
        mat-raised-button class="buttonGo" 
        type="submit" (click)="onSubmit()">
        <a>CONTINUAR</a>
        <span class="material-icons icon-go">
          <mat-icon>chevron_right</mat-icon>
        </span>
    </button> -->
  </mat-card-actions>
</form>
<router-outlet></router-outlet>

