.container-all {
    background: #4a4067 !important;
    height: 100%;
}

h1.title {
    font-weight: 100; 
    font-size: 2em; 
    margin-top: 50px;
    color: white;
}

.contain-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

img:focus { outline: none; }

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px !important;
}
h3.test {
    font-weight: bold;
    color:#E33B88;

}

h3.test-off {
    font-weight: bold;
    color: #4A4067;
}
.icon-off { 
    opacity: 0.5;
}
.test-icon {
    text-align: center;
    flex-direction: row;
    margin: 15px 15px;
    width: 200px;
    height: 175px;
    border: 1px solid  #4a4067;
    border-radius: 5%;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
}
.test-icon-off {
    text-align: center;
    flex-direction: row;
    margin: 15px 15px;
    width: 200px;
    height: 175px;
    border: 1px solid  #4a4067;
    border-radius: 5%;
    align-content: center;
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
}
.test-icon:focus { 
    outline: none; 
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);  
}

img.icon, img.icon-off { margin-top: 15px; }

.test-icon:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 2px #f4c713;
    -moz-box-shadow: inset 0 0 0 2px #f4c713;
    box-shadow: inset 0px 0px 0px 2px #f4c713; 
    background-color: rgba($color: #FFFFFF, $alpha: 0.8); 
}

figure.container {
    margin: 0px !important;
    width: 100%;
}

hr.title-line {
    border: 1px solid #f4c713;
    width: 480px;
    margin-top: 5px;
    margin-bottom: 50px;
}