.container-all {
    background: #4a4067 !important;
    height: 100%;
}
.nav {
   background-color: #4a4067; 
   padding-top: 0px;
}

.nav_logo { padding: 55px 50px 25px 50px; }


h1.title {
    padding-top: 50px;
    font-weight: 100; font-size: 2em; 
    margin-top: 75px;
    color: white;
}

.contain-title {
    display: flex;
    justify-content: center;
    text-align: center;
}

img:focus { outline: none; }

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px !important;
}

.test-icon {
    text-align: center;
    flex-direction: row;
    margin: 15px 15px;
    width: 200px;
    height: 175px;
    border: 1px solid  #4a4067;
    border-radius: 5%;
    align-content: center;
    background-color: white;
    -webkit-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
}

.test-icon:focus { 
    outline: none; 
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.51);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.51);  
    background-color: rgba($color: #FFFFFF, $alpha: 0.9);
 
}

figure.container {
    margin: 0px !important;
    width: 100%;
}

img.icon { margin-top: 15px; }


h3.test {
    font-weight: lighter;
    color: #f4c713;
}


hr.title-line {
    border: 0.5px solid #f4c713;
    width: 25%;
    margin-top: 5px;
    margin-bottom: 50px;
}