<div class="containerAll">
    <app-header-admin></app-header-admin>
    <div class="contains-body">
        <div class="titleAndButton">
            <h1 class="title">Encode Admin</h1>
            <button mat-raised-button class="button-getData" (click)="generateUserId()">
                Crear Invitacion
            </button>
        </div>

        <!-- <div class="contains-tables mat-elevation-z8">
            <mat-table [dataSource]="users">       -->
        
                <!-- Name -->
                <!-- <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
                </ng-container> -->
        
                <!-- Email -->
                <!-- <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
                </ng-container> -->
        
                <!-- Link -->
                <!-- Hacer un pipe para el link -->
                <!-- <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef> link </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.uid }} </mat-cell>
                </ng-container> -->
        
                <!-- <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
        
            <!-- </mat-table> -->
            
            <!-- <mat-paginator [length]="totalTestsCounter.count" [pageSize]="pageSize"></mat-paginator> -->
        
        <!-- </div> -->

    </div>
</div>
