<div class="containerAll">
    <app-header-admin></app-header-admin>
    <div class="contains-body">
        <div class="titleAndButton">
            <h1 class="title">Encode Admin</h1>
            <button mat-raised-button class="button-getData" (click)="openInviteDialog()">
                Crear Invitacion
            </button>
        </div>

        <div class="contains-tables mat-elevation-z8">
            <mat-table [dataSource]="usersDataSource">      
        
                <!-- Name -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.name }} </mat-cell>
                </ng-container>
        
                <!-- Email -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
                </ng-container>
        
                <!-- Link -->
                <ng-container matColumnDef="link">
                    <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.uid | encodeLink }} </mat-cell>
                </ng-container>

                <!-- Creation Date -->
                <ng-container matColumnDef="creationDate">
                    <mat-header-cell *matHeaderCellDef> Fecha de creacion </mat-header-cell>
                    <mat-cell *matCellDef="let user"> {{ user.creationDate.toMillis() | date:'d/M/yyyy, h:mm a' }} </mat-cell>
                </ng-container>
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let user; columns: displayedColumns;"
                  (click)="getUserResults(user.uid)"></mat-row>
        
            </mat-table>

            <mat-toolbar>
                <mat-toolbar-row>
                    <button>
                        <mat-icon (click)="getData()" title="Exportar Datos">save_alt</mat-icon>
                    </button>
                    <mat-paginator [length]="totalTestsCounter.count" [pageSize]="pageSize"></mat-paginator>
                </mat-toolbar-row>
            </mat-toolbar>
        
        </div>

    </div>
</div>
