<div class="recorder">
    <div class="recorder-display">
        <span>{{status}}</span>
    </div>
    <div class="recorder-controls">
        <button mat-fab 
            class="rec-button"
            (click)="onRec()"
            [disabled]="recorderService.isRecording">
            <mat-icon>mic</mat-icon>
        </button>
        <button mat-fab 
            (click)="onStop()"
            [disabled]="!recorderService.isRecording">
            <mat-icon>stop</mat-icon>
        </button>
    </div>
</div>
