.recorder
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    column-gap: 16px;
    background-color: #4a40670c;
    border-radius: 1000px;
}

.recorder-display
{
    padding: 16px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    min-width: 160px;
}

.recorder-display * {
    color: #312a45;
}

button * {
    color: whitesmoke;
}

.mat-button-base
{
    width: 80px !important;
    height: 80px !important;
}

.mat-icon {
    transform: scale(1.64);
}

.cdk-overlay-pane {
    max-width: 580px;
}
