<div id="identification-room-container">
    <h1>{{ roomTitle }}</h1>

    <div id="lineup">
        <app-encode-suspect *ngFor="let suspect of lineup; index as i;"
            [suspectIndex]="i + 1"
            [suspect]="suspect"
            [isSelected]="false"
            (selectSuspectEvent)="selectedSuspectChange($event)">
        </app-encode-suspect>
    </div>
    
    <button mat-raised-button 
        color="primary"
        [disabled]="selectedSuspect == null"
        (click)="identifySuspect()">
            Elegir
    </button>
</div>

