#identification-room-container {
    display: flex;
    flex-flow: column;
    row-gap: 32px;
    align-items: center;
}

#lineup {
    display: flex;
    flex-flow: row;
    column-gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -16px;
}

#lineup > .suspect {

}
