// DESKTOP
// 1600 x 900
// 1440 x 900
// 1366 x 768
// 1024 x 600
.container-footer {
    padding: 0px 0px 20px 0px;
}
.container-logos-mobile {
    display: none;
}

.container-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px 200px;
    margin: 0px;
}

.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

img.logo-conicet, img.logo-unicen,  img.logo-pladema, img.logo-tuxdi {      
    height: 100%;
    margin: 0px 10px 0px 10px;

}
img.logo-itba {
    height: 100%;
    margin: 20px 10px 0px 10px; 
}
.logo-itba:focus, 
.logo-conicet:focus, 
.logo-unicen:focus, 
.logo-pladema:focus,
.logo-tuxdi:focus { 
    outline: none;    
}

.logo-itba:hover, 
.logo-conicet:hover,
.logo-unicen:hover,
.logo-pladema:hover, 
.logo-tuxdi:hover {
    cursor:pointer;
    opacity: 50%;
}
.text-home {
    font-size: 20px;
}

@media screen and (max-width: 1600px) {

.container-logos {     
    padding: 0px 170px 0px 170px;
}

.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 130px;
}

}

@media screen and (max-width: 1440px) {
    .container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
        height: 100px;          
    }
    .container-footer {
        padding-bottom: 10px;
    }

}


@media screen and (max-width: 1024px) {

.container-logos {
    padding: 0px 100px 0px 100px;

}
.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    padding: 0px;     
}    
    
img.logo-conicet, img.logo-unicen,  img.logo-pladema, img.logo-tuxdi {      
    height: 95%;
    margin: 0px 0px 0px 0px;
}

img.logo-itba {
    height: 95%;
    margin: 20px 0px 0px 0px; 
}


}

@media screen and (max-width: 768px) {

.container-logos {
    padding: 0px 80px;
}
.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 75px;          
}


}

@media screen and (max-width: 650px) {

.container-logos {
    display: none;
}
.container-logos-mobile {
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 100px;          
}

}

@media screen and (max-width: 425px) {

img.logo-itba { 
    margin: 0px 10px 0px 10px; 
}
.logo-container {
    padding: 0px 50px 0px 50px;
}
.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 90px;          
}
.container-logos-mobile {
    padding: 0px 50px;
}
div.container-moreInfo {
    justify-content: center;
}
}

@media screen and (max-width: 375px) {

.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 80px;          
}
.container-logos-mobile {
    padding: 0px 30px;
}

}

@media screen and (max-width: 320px) {

.container_itba_conicet, .container_unicen_pladema, .container_tuxdi {
    height: 68px;          
}

}
