.form-list
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42rem;
}

.mat-list
{
    display: flex;
    flex-flow: column;
    
}

.mat-card-actions
{
    display: flex;
    justify-content: center;
}

.form-list h1
{
    text-align: left;
    color: #E33B88;
    padding-left: 17px;
}