<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="form-list">

            <mat-card>
                    
                <mat-card-header>
                    <mat-card-title>Formularios</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <h1>Por favor, completa los siguientes formularios clickeando en ellos. Se abriran en una ventana aparte,
                    una vez finalizados, presiona continuar.</h1>
                    
                    <mat-list>
                        <mat-list-item>
                            <button mat-flat-button
                                (click)="openForm('stai')">
                                <mat-icon mat-list-icon
                                    color="primary">assignment</mat-icon>
                                    CUESTIONARIO STAI (estado)
                            </button>
                        </mat-list-item>
                        <mat-list-item>
                            <button mat-flat-button
                                (click)="openForm('panas')">
                                <mat-icon mat-list-icon
                                    color="primary">assignment</mat-icon>
                                    PANAS
                            </button>
                        </mat-list-item>
                        <mat-list-item>                  
                            <button mat-flat-button
                                (click)="openForm('ipip')">
                                <mat-icon mat-list-icon
                                    color="primary">assignment</mat-icon>
                                    IPIP-Revisado
                            </button>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>

                <mat-card-actions>
                    <a mat-raised-button
                        routerLink="../video"
                        routerLinkActive="active">
                        Continuar
                    </a>
                </mat-card-actions>

            </mat-card>

        </div>
</section>
