<!-- <section class="container"> -->
    <section class="audio-list">

        <div *ngFor="let audio of audios; let indexOfelement=index;"
            class="audio mat-elevation-z1">
            <p>Audio {{indexOfelement + 1}}</p>
            <mat-icon >done_all</mat-icon>
        </div>
        <div *ngIf="isUploadingNewAudio$ | async"
            class="audio uploading">
            <p>Subiendo audio...</p>
            <mat-spinner [diameter]="32"></mat-spinner>
        </div>
    </section>
<!-- </section> -->
