.audio-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    margin: 1rem 1rem 0 1rem;
}

#empty-list-message {
    color: grey;
    font-style: italic;
}

.audio {
    display: flex;
    flex-flow: row;
    background-color: #4a40670c;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
}

.audio > * {
    color: #76ad2e;
}

.audio > p {
    margin: 1rem;
}

.audio > .mat-icon {
    margin: 0 0 0 1rem;
}

.audio.uploading > p {
    color: gray;
}

.audio.uploading > .mat-spinner {
    margin: 0 0 0 1rem;
}
