.container-all {
    background: #4a4067 !important;
    height: 100%;
    min-height: 800px;
}

h1.title {
    font-weight: 100; 
    font-size: 2em; 
    margin-top: 50px;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    width: auto;
    height: auto;
}
.button-back {
    margin-top: 25px;
    font-size: larger;
    padding: 10px 116px;
    font-weight: 600;
    color: white;
    background-color:#e33b88;
}
.button-back:hover { 
    background-color:#e33b8880; 
}
.image-calendar {
    margin-top: 20px;
}
.container-icon {
    text-align: center;
    flex-direction: row;
    margin: 15px 15px 15px 15px;
    width: 300px;
    height: 300px;
    border: 1px solid  #4a4067;
    border-radius: 5%;
    align-content: center;
    background-color: #f9f9f9;
    margin-top: 15px;
    padding-bottom: 25px;
    border: 2px solid #E33B88;
}

h1.text {
    font-weight: bold;
    color: #E33B88;
}

@media screen and (max-width: 1440px) {
    .container-all {
        min-height: 600px;
    }
    h1.title {
        font-size: 1.7em;
        margin-top: 30px;
    }
    .image-calendar {
        width: 200px;
    }
    .container-icon {
        width: 280px;
        height: 280px;
    }
    .button-back {
        margin-top: 10px;
        font-size: 1.2rem;
        padding: 10px 106px;
    }

}
@media screen and (max-width: 1024px) {
    
    h1.title {
        font-size: 1.4em;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .container-icon {
        width: 220px;
        height: 220px;
        padding-bottom: 10px;
    }

    .image-calendar {
        width: 150px;
    }
    h1.text {
        font-size: 1.1rem;
        margin: 10px 0px;
    }
    .button-back {
        margin-top: 10px;
        font-size: medium;
        padding: 5px 80px;
        font-weight: 600;
    }
    
}

@media screeen and(max-width: 425px) {
    .container-all {
        height: auto;
        min-height: 800px !important;
    } 
}