.somnolence-degree
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 42rem;
}

.mat-card-header
{
    margin: 16px 0 !important;
}

.form-fields
{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0px 16px;
}

.mat-card-actions
{
    align-self: center;
}

.labelAndRadioContainer
{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.radioButtonsGroup
{
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    margin-top: 1rem;
}
