<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="somnolence-degree">
           
            <form [formGroup]="somnolenceDegreeFormGroup" (ngSubmit)="onSaveForm($event)">
            
                <mat-card>
                    
                    <mat-card-header>
                        <mat-card-title>Grado de somnolencia</mat-card-title>
                    </mat-card-header>
                    
                    <mat-card-content class="form-fields">
                    
                        <!-- Grado de somnolencia -->
                        <div class="labelAndRadioContainer">
                            <label id="somnolence-degree-label">Este test es una forma rápida de detectar cuán alerta te sentís, selecioná ell estado con el que te identifiques mejor en este momento:</label>
                            <mat-radio-group 
                                aria-labelledby="somnolence-degree-label"
                                formControlName="somnolenceDegree"
                                class="radioButtonsGroup">
                                <mat-radio-button [value]="somnolenceDegrees.totallyAwake">
                                    {{somnolenceDegrees.totallyAwake}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.veryHigh">
                                    {{somnolenceDegrees.veryHigh}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.relaxed">
                                    {{somnolenceDegrees.relaxed}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.littleConfused">
                                    {{somnolenceDegrees.littleConfused}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.confused">
                                    {{somnolenceDegrees.confused}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.tired">
                                    {{somnolenceDegrees.tired}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.almostSlept">
                                    {{somnolenceDegrees.almostSlept}}
                                </mat-radio-button>
                                <mat-radio-button [value]="somnolenceDegrees.slept">
                                    {{somnolenceDegrees.slept}}
                                </mat-radio-button>
                            </mat-radio-group>

                        </div>    
                        
                        <!-- Boton siguiente -->
                        <mat-card-actions>
                            <button mat-raised-button type="submit" class="save-form-btn">
                                Siguiente
                            </button>   
                        </mat-card-actions>
                        
                    </mat-card-content>
                
                </mat-card>

            </form>

        </div>
    </section>
</section>
