.nav {
    background-color: #F9F9F9; 
    padding-top: 0px;
    width: 100%;
    height: 115px;   
}
 
.nav_logo { padding: 55px 50px 25px 50px; }

img.logo {
    width: 12.1%;
}
.container-question-link {
    display: flex;
    justify-content: left;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 88%;
    width: auto;
    cursor: pointer;
    padding: 11px 20px;  
}

.container-question-link:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    background-color: rgba(255,255,255,0.8);
    outline: none;    
}
.question {
    color: #4a4067;
    font-size: 60px;  
}
.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo:focus { 
    outline: none;    
}

.logo:hover {
    cursor: pointer;
} 
h4.type-activity {
    // margin-right: 1rem;
    // margin-left: 1rem;
    font-weight: 400;
    color: #e33b88;
}

mat-toolbar.container-header {
    background-color: #eeeeee;
    width: 100%;
    height: 115px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
    box-shadow: 0px 2px 5px 0px rgba(74,64,103,0.3);
}

@media screen and (max-width: 1440px) {

    .container-question-link {        
        left: 87%;  
        padding: 11px 11px;   
    }
    mat-toolbar.container-header {
       height: 100px;
    }
 
    .nav_logo { 
       padding: 50px 50px 25px 50px; 
    }
 
    img.logo {
       width: 170px;
       height: 85px;
    }
    .question {       
        font-size: 46px;  
    }
    
}


@media screen and (max-width: 1024px) {

    .container-question-link {        
        left: 79%; 
        padding: 6px 11px;
    }
          
    .question {
        margin-top: 10px;
        text-align: center;
        width: 45%;
        height: 45%;
    }
    h4.type-activity {
        font-size: 1rem;
    }

}

@media screen and (max-width: 700px) {
    h4.type-activity {
        display: none;
    }
    .question {
        margin-top: 25px;
        margin-left: 20px;
        margin-bottom: 0px;
        font-size: 40px;
    }
    .container-col {
        margin: 30px 10px 0px 10px;
    }
    .container-question-link {
        left: 74%;
        height: 100px;
        width: 70px;
        margin: auto;
        justify-content: center;
        padding: 0px;  
    }  
    
    .question {
        height: 40px;
        width: 50px;
        margin: 0px;
    }
}

 @media screen and (max-width: 425px) { 
    .nav_logo { 
        display: flex;
        justify-content: center;
        width: inherit;
     }

}
@media screen and (max-width: 375px) { 
    .container-question-link {
        left: 77%;
    }
}

 
  
  