<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <div class="audios">
            
            <h1>Describí con el mayor detalle posible lo que viste y escuchaste en el video</h1>
            <div *ngIf="this.user.sessionTwo.perpetratorCondition && this.user.sessionOne.completed == true">
                <h3>
                    Relata los hechos de la misma forma que lo hiciste en el día 1.
                </h3>
            </div>
            <mat-card class="audios-card">

                <mat-card-content class="audios-card-content">

                    <img class="image-instructions" 
                        src="assets/images/encode_recording_audios.svg" alt=""/>
                    
                    <div id="right-column">
                        
                        <div class="instructions-recorder-and-list">
    
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon mat-list-icon
                                        color="accent">lens</mat-icon>
                                    <p class="mat-list-text">
                                        Grabá al menos un audio antes de finalizar.
                                    </p>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon mat-list-icon
                                        color="accent">lens</mat-icon>
                                    <p class="mat-list-text">
                                        Podes grabar la cantidad de audios que creas necesario.
                                    </p>
                                </mat-list-item>
                            </mat-list>
    
                            <app-audio-recorder></app-audio-recorder>
                            <app-encode-audio-list #audioList></app-encode-audio-list>
    
                        </div>

                        <a mat-raised-button
                            class="save-form-btn"
                            (click)="onAudiosReady()"
                            [disabled]="finishButtonDisabled$ | async">
                            Finalizar
                        </a>

                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </section>
</section>
