<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        <mat-card class="card-content">

            <h1 class="mat-display-1">Mirá el video con atención. Una vez que empiece no podrás detenerlo.</h1>         

            <div class="video">
                <video width="720" #video>
                    <source [src]="videoSource"
                        type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                </video>
                <button mat-raised-button (click)="lazyDialog.openDialog('video-dialog')">
                    Open Dialog
                </button>
            </div>

        </mat-card>
    </section>

</section>
