.somnolence-degree
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 42rem;
}

.mat-card-header
{
    margin: 16px 0 !important;
}

.mat-card-actions
{
    align-self: center;
}