<h1 mat-dialog-title>Nueva invitacion</h1>
<mat-dialog-content class="form">
    <!-- Nombre -->
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" required
            [formControl]="nameFormControl"
            placeholder="Ej. Laura Torres">
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Nombre es un dato <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" required
            [formControl]="emailFormControl"
            placeholder="Ej. lauratorres@ejemplo.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Por favor ingresar un email valido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email es un dato <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onClose()">
        Cancelar
    </button>
    <button mat-button (click)="onSave()"
        [disabled]="!this.emailFormControl.valid || this.emailFormControl.value === '' || 
                    !this.nameFormControl.valid || this.nameFormControl.value === ''">
        Guardar
    </button>
</mat-dialog-actions>