html, body { height: 100%; max-height: auto; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom Rulit Snack

snack-bar-container.custom-rulit-snack-bar {
    background-color: #fff;
    color: #4a4067;
}

// Custom Rulit Dialog

.custom-rulit-dialog .mat-dialog-title {
    color: #312a45;
    margin: 0 0 0.5rem;
}

.custom-rulit-dialog .dialog_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.custom-rulit-dialog .dialog_header .mat-button{
    color: #E52F2D;
    background-color: white;
    padding: 0;
    min-width: 32px;
}

.custom-rulit-dialog .mat-dialog-title .material-icons {
    color: #ffcf02;
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.custom-rulit-dialog hr{
    border: 1px solid #ffcf02;
}

.custom-rulit-dialog .mat-dialog-content {
    color: #312a45;
    line-height: 1.4rem;
}

.custom-rulit-dialog mat-dialog-actions .mat-button {
    background-color: #76ad2e;
    color: white;
    font-size: medium;
    font-weight: 500;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
}

.custom-rulit-dialog mat-dialog-actions .mat-button:hover {
    color: white;
    background-color: #76ad2ecc;
}

.mat-dialog-content.orientation_content {
    display: flex;
    flex-flow: row;
    align-items: center;
    column-gap: 1rem;
}

.mat-dialog-content .screen_rotation_icon {
    font-size: 32px;
}

.backdropBackground {
    background: rgb(0 0 0 / 89%);
}
