<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">

        <div class="videoTest">
            <h1 class="title">Prueba de audio y video</h1>

            <mat-card>
                <mat-card-content class="card-content">

                    <video width="450" #video>
                        <source src="assets/videos/videoPruebaEncode.mp4"
                                type="video/mp4">
                            Sorry, your browser doesn't support embedded videos.
                    </video>

                    <div class="videoQuestions">
                        <div class="labelAndRadioContainer">
                            <label id="video-question-label">
                                ¿La imagen se ve bien y de manera fluída?</label>
                            <mat-radio-group 
                                aria-labelledby="video-question-label"
                                [(ngModel)]="isVideoGood"
                                class="radioButtonsGroup">
                                <mat-radio-button [value]="true">Si</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
            
                        <div>
                            <label id="audio-question-label">¿El audio se escucha claro y fuerte?</label>
                            <mat-radio-group 
                                aria-labelledby="audio-question-label"
                                [(ngModel)]="isAudioGood"
                                class="radioButtonsGroup">
                                <mat-radio-button [value]="true">Si</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                                    
                    </div>
                    
                    <mat-card-actions>
                        <button mat-raised-button 
                            type="submit" 
                            class="save-form-btn" 
                            (click)="onConfirm()">
                            Continuar
                        </button>   
                    </mat-card-actions>

                </mat-card-content>
            </mat-card>
        </div>
    </section>
</section>
