.videoTest
{
    display: flex;
    flex-direction: column;
    max-width: 42rem;
}

.card-content
{
    display: flex;
    flex-flow: column;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    align-items: flex-start;
}

.videoQuestions
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
    font-size: 16px;
    padding: 0 16px;
}

.labelAndRadioContainer
{
    display: flex;
    flex-flow: column;
}

.radioButtonsGroup
{
    display: flex;
    flex-flow: row;
    column-gap: 1rem;
    margin-top: 1rem;
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end;
}
