<div class="containerAll">
    <app-header-admin></app-header-admin>
    <div class="contains-body">

        <div *ngIf="auth.user$ | async; then authenticated else guest">
            <!-- template will replace this div -->
        </div>

        <!-- User NOT logged in -->
        <ng-template #guest>
            <button mat-raised-button 
                (click)="auth.googleLogin()"
                class="login-btn">
                <mat-icon>login</mat-icon> Ingresar
            </button>
        </ng-template>

        <!-- User logged in -->
        <ng-template #authenticated>
            <div *ngIf="auth.user$ | async as user; else loading">
                <h1>Resultados de los tests</h1>
                <div class="testSelect__options">
                    <div class="testSelect__testLink" routerLink="/admin/creativity" routerLinkActive="active">
                        <img src="./assets/images/testCreatividad.png" alt="mano sosteniendo un foco, test de creatividad">
                        <h3>CREATIVIDAD</h3>
                    </div>
                    <div class="testSelect__testLink" routerLink="/admin/rulit" routerLinkActive="active">
                        <img src="assets/images/testMemoria.png" alt="rostro de perfil con un engranaje en la cabeza, test de memoria">
                        <h3>MEMORIA</h3>
                    </div>
                    <div class="testSelect__testLink" routerLink="/admin/encode" routerLinkActive="active">
                        <img src="assets/images/testInhibicion.png" alt="rostro de perfil con un engranaje en la cabeza, test de memoria">
                        <h3>ENCODE</h3>
                    </div>
                </div>
                
                <!-- Boton Cerrar -->
                <button mat-raised-button 
                    (click)="auth.signOut()"
                    class="logout-btn">
                    <mat-icon>logout</mat-icon> Cerrar session</button>
            </div>

            <ng-template #loading>
                <div
                    id="loading-spinner">
                    <mat-spinner [diameter]="64"></mat-spinner>
                    <p>Cargando...</p>
                </div>
            </ng-template>
        </ng-template>
        
        <p>Version {{versionNumber}}</p>

    </div>
</div> 


