.containerAll {
    background: #eeeeee;
    min-height: 100%;
    width: 100%;
}

.contains-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 2em;
    padding-bottom: 4em;
    margin-top: 64px;
}

.login-btn
{
    background-color: #76ad2e;
    color: #eeeeee;
    font-size: medium;
    padding: 8px 16px;
}

.logout-btn
{
    font-size: medium;
    padding: 8px 16px;
}

.button-getData {
    font-size: larger;
    padding: 10px 80px;
    font-weight: 600;
    color: #E33B88;
}

.button-getData:hover {
    background-color: #ffffffcc;
    -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
    -moz-box-shadow: inset 0 0 0 2px #ffcf02;
    box-shadow: inset 0px 0px 0px 2px #ffcf02;
}

.contains-tables {
    max-width: 90%;
    // margin: 0 4em;
}

.table__item-proposal {
    min-width: 15em;
    max-width: 15em;
}

mat-header-cell {
    background-color:  #4a4067;
    color: #eeeeee;
    padding: 0 1em !important;
}  

mat-cell {
    padding: 1em !important;
}

mat-paginator {
    background-color:  #E33B88;
    color: #eeeeee;
}

h1, h2 {
    text-align: center;
    color: #E33B88;
}

.titleAndButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// test-select
.testSelect {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.testSelect__options {
    display: flex;
    column-gap: 1em;
    margin-bottom: 32px;
    align-items: center;
}

.testSelect__testLink {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 5%;
    color: #E33B88;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
    box-shadow: -2px 0px 15px -1px rgba(0,0,0,0.51);
}

.testSelect__testLink:focus {
    outline: none; 
}

.testSelect__testLink:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 0 2px #ffcf02;
    -moz-box-shadow: inset 0 0 0 2px #ffcf02;
    box-shadow: inset 0px 0px 0px 2px #ffcf02; 
    background-color: rgba($color: #FFFFFF, $alpha: 0.8); 
}

#loading-spinner {
    margin-top: 4rem;
}