<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        
        <div identificationRoomHost>
            <div *ngIf="isLoadingLineups"
                id="loading-spinner">
                <mat-spinner [diameter]="64"></mat-spinner>
                <p *ngIf="this.currentRoom == 1">Cargando Ronda 1...</p>
                <p *ngIf="this.currentRoom == 2">Cargando Ronda 2...</p>
            </div>
        </div>
        
    </section>

</section>
