#task-breafing {
    display: flex;
    flex-flow: column;
    grid-row-gap: 32px;
    row-gap: 32px;
    max-width: 32rem;
    line-height: 1.32rem;
    align-items: center;
}

#continue-button {
    align-self: center;
}

.mat-list {
    display: flex;
    flex-flow: column;
    row-gap: 0.5rem;
}

.mat-list .mat-list-icon {
    width: 0.5rem;
    height: 0.5rem;
    font-size: 0.5rem;
}

.mat-spinner {
    justify-self: center;
    align-self: center;
}
