<section class="container">
    <app-header-encode></app-header-encode>
    <section class="main-app-section">
        
        <div *ngIf="isIdentifing == false; then taskBreafing else identificationRoomComponent">
            <!-- template will replace this div -->
        </div>

        <ng-template #taskBreafing>
            <h1 class="title">Rondas de reconocimiento</h1>     

            <div id="task-breafing">
                <p>A continuación vas a realizar dos rondas de reconocimiento correspondientes cada una a uno de los asaltantes del video de la sesión anterior. Cada ronda está compuesta por fotos de 6 sospechosos en donde puede estar presente o no el asaltante. Te vamos a pedir que las mires con atención y selecciones la opción que creas correcta.</p>
                <button mat-raised-button 
                    id="continue-button" 
                    color="primary" 
                    aria-label="continuar"
                    (click)="openIdentificaton()">
                    Continuar
                </button>
            </div>
        </ng-template>

        <ng-template identificationRoomHost #identificationRoomComponent></ng-template>
        
    </section>

</section>
